.page-product{
	.brinde_produto{
		border: 0;
		.varTit{
			background: none;
			color: #767676;
			font-weight: bold;
			font-size: 14px;
			padding: 0;
		}

		.brinde_produto_lista{
			height: auto;
			margin: 0;
		}

		ul{
			margin: 0;

			li{
				padding: 0;
			}
		}
	}
}