.page-product{
	.frete-calcular-produto{
		h4{
			font-weight: bold;
			color: $primary-color;
			@include rem2(15px);
			margin-bottom: 5px;

			i{
				color: $five-color;
				@include rem2(25px);
				@include transform(scaleX(-1));
			}
		}
	}

	.produto-calcular-frete{
		margin-bottom: 10px;
	}

	#cepbox{
		padding: 0;
		margin: 0;
		border: 0;
		@include rem2(12px);
		font-weight: normal;
		font-family: $font;
		color: $primary-color;

		.cepbox-text, label{
			display: none;
		}

		#cep1{
			width: 120px;

			@media screen and (max-width: $medium){
				width: 100px;
			}
		}

		#cep2{
			width: 45px;
		}

		input{
			display: inline-block;
			height: 30px;
			padding: 0 10px;
			vertical-align: top;
			font-weight: normal;
			@include rem2(12px);
			color: $primary-color;
			border: 1px solid $border-color;
			@include border-radius(5px);
		}

		@include placeholder2(#9c9b9f, 12px);
	}
}