.product-comments{
	margin-top: -50px;
	margin-bottom: 80px;
	padding: 20px;
	background: #fff;
	@include box-shadow(0 0 60px rgba(207, 210, 224, 0.5));
	@include border-radius(6px);

	> h3{
		color: $five-color;
		@include rem2(16px);
		margin-bottom: 30px;
	}

	> h2{
		color: $primary-color;
		@include rem2(15px);
		margin-bottom: 10px;
	}

	.line{
		margin-top: 25px;
		border-top: 1px solid $border-color;
	}
}