.product-compre-junto{
	padding: 0 0 50px 0;
	margin-top: 80px;
	margin-bottom: 40px;
	background: #fff;

	>.container{
		padding-top: 50px;
		border-top: 1px solid $border-color;
	}

	#ProdAbas{
		display: none;
	}

	.compreJunto{
		padding-left: 0;

		> li{
			padding: 15px 0 45px;
			border-bottom: 1px solid #eee;

			&:last-child{
				border-bottom: 0;
			}

			.fotosCompreJunto, .precoCompreJunto{
				height: auto;
			}

			.fotosCompreJunto{
				width: 70%;

				.plus{
					position: relative;
					width: 5%;
					height: 155px;
					line-height: 155px;
					margin-top: 27px;
					font-size: 75px;
					font-weight: 300;
					text-indent: -3px;
					color: $primary-color;
				}

				.produto{
					width: 30%;

					> div{
						width: 100%;
						margin: 0 0 10px 0;
						padding: 0;
					}

					span{
						background: #fff;
						border: 1px solid #eee;
					}

					span, span div{
						margin: 0;
						width: 100%;
						height: auto;

						img{
							vertical-align: middle;
						}
					}
				}
			}

			.precoCompreJunto{
				width: 30%;
				border-left: 0;
				padding-left: 30px;

				&:before{
					content:'Compre Junto';
					display: block;
					font-size: 14px;
					font-weight: normal;
					color: $primary-color;
					margin-bottom: 20px;
				}

				a{
					display: inline;
				}

				a, span, li, strong, .PrecoPrincipal{
					font-size: 100%;
					color: $five-color;
				}

				strong{
					display: block;
					font-weight: normal;
					font-size: 16px;
					color: $five-color;
				}

				li{
					text-align: left;
					font-weight: normal;
					margin: 3px 0;

					button{
						padding: 0;
						margin: 0;
					}

					&:after{
						@include clearfix;
					}
				}

				.comprejunto_botao{
					margin-top: 20px;
					text-align: left;

					.right{
						float: none;
					}
				}
			}

			.precosCompreJunto{
				margin-top: 15px;
				padding-top: 15px;
				border-top: 1px solid $border-color;

				li{
					strong{
						display: inline-block;
						font-weight: bold;
						font-size: 15px;
						color: #555555 !important;
					}
				}
			}

			.varTit{
				line-height: normal;
				font-size: 12px;
				color: #555454;
				padding: 10px;
			}

			select{
				width: 100%;
				@include border-radius(0);
			}
		}
	}
}