.page-product{
	.produto-formas-pagamento{
		display: none;
	}
	#info{
		padding: 0;
		a{
			@include rem2(13px);
			font-weight: normal;
			color: $second-color;
			text-align: left;
			border: 0;
		}
	}

	#formasPagto{
		h3{
			font-family: $font;
			font-weight: bold;
			background: $third-color;
			color: #fff;
			text-transform: uppercase;
			border: 0;
			padding: 5px;
		}

		.Forma1{
			li{
				border: 0;
				background: none;

				> a{
					background: $third-color;
					padding: 5px;
					color: #fff;
					font-weight: bold;
					font-size: 14px;
				}
			}

			.tablePags{
				border-top: 0;
				border-left: 1px solid $border-color;
				border-right: 1px solid $border-color;
				border-bottom: 1px solid $border-color;

				td{
					font-size: 12px;
					line-height: 20px;
					padding: 5px;
				}
			}

			li:hover{
				.tablePags{
					background-color: transparent;
				}
			}
		}

		.Forma2{
			border-bottom: 0;
		}

		#linkPagParcelado{
			display: none !important;
		}

		> .board{
			> br{
				display: none;
			}
		}

		@media screen and (max-width: $small){
			.Forma2{
				> li{
					float: none;
					width: 100%;
					margin: 20px 0;
				}
			}
		}
	}
}