.page-product{
	.produto-zoom-detalhe{
		display: none;
	}
	.cloud-zoom-big{
		border: 1px solid #FFE7C4;

		@media screen and (max-width: $medium){
			margin-left: 0 !important;
		}
	}
	#visualAbas{
		ul{display: none;}
	}
	#col3D, #colFotos, #colVideo{
		padding: 0;
	}
	#colFotos{
		position: relative;
		@include clearfix2;
	}
	#foto_a{
		display: block;
		width: 100%;
		border: 0;
		margin: 20px 0 0 0;
		padding: 0;
		text-align: center;

		.produto-imagem-miniatura{
			display: block;
			max-height: none;
			width: 100%;
			height: 110px;
			line-height: 110px;
			overflow: hidden;
			font-size: 0;
			background: #fff;
			@include border-radius(5px);

			img{
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
				@include border-radius(5px);
				@include opacity(.5);
				@include transition(opacity);

				&:hover{
					@include opacity(1);
				}
			}
		}

		a{
			display: block;
			float: none;
			width: 100%;
			max-height: 110px;
			line-height: 110px;

			&:hover{
				text-decoration: none;
			}
		}

		li{
			display: inline-block;
			width: 110px;
			margin: 0 5px;
			overflow: hidden;
		}

		.icon-video{
			padding-top: 0;
			line-height: 110px;
		}

		.jcarousel-skin-tango{
			.jcarousel-container-horizontal{
				padding: 0;
			}
			.jcarousel-clip-horizontal{
				width: 425px !important;
				height: 110px !important;
				margin-left: auto;
				margin-right: auto;

				@media screen and (max-width: $medium){
					width: 265px;
				}
			}
			.jcarousel-item{
				height: 110px !important;
			}

			.jcarousel-prev-horizontal, .jcarousel-next-horizontal{
				position: absolute;
				height: 24px;
				width: 24px;
				line-height: 22px;
				text-align: center;
				top: 50%;
				color: #fff;
				background: $five-color;
				@include rem2(18px);
				@include transform(translate(0, -50%));
				@include box-shadow(0 6px 17px rgba(1, 0, 49, .12));
				@include border-radius(50%);

				&:before{
					font-family: FontAwesome;
					color: #fff;
				}
			}

			.jcarousel-prev-horizontal{
				text-indent: -2px;
				left: -8px;
				&:before{
					content:'\f104';
				}
			}
			.jcarousel-next-horizontal{
				text-indent: 2px;
				right: -8px;
				&:before{
					content:'\f105';
				}
			}
		}

		@media screen and (max-width: $medium){
			max-width: 100% !important;
			margin-top: 20px;
			text-align: center;

			li{
				display: inline-block;
				width: 78px;
				height: 78px;
				margin: 0 5px;

				a, .produto-imagem-miniatura{
					display: block;
					width: 78px;
					height: 78px;
					border: 0 !important;

					img{
						vertical-align: top;
						@include border-radius(0);
					}
				}
			}
		}
	}
	#foto_p{
		display: block;
		width: 100% !important;
		height: auto !important;
		background: #fff;
		@include border-radius(5px);

		#wrap{
			width: 100% !important;
			z-index: 7 !important;
		}

		a, a img{
			display: inline-block !important;
			max-width: 100% !important;
			max-height: none !important;
		}

		a{
			overflow: initial !important;
		}

		img{
			@include border-radius(5px);
		}

		.produto-video{
			iframe{
				width: 100% !important;
				height: 100% !important;
			}
		}

		@media screen and (max-width: $medium){
			max-width: 100% !important;
		}
	}

	@media screen and (max-width: $small){
		.carousel-gallery{
			margin: 20px 0;
			padding: 0 10px;

			.owl-controls{
				.owl-prev{
					left: 0;
				}
				.owl-next{
					right: 0;
				}
			}
		}
	}
}