.product-header, .product-subheader{
	position: relative;
	margin-bottom: 20px;

	li{
		display: inline-block;
	}

	li + li{
		margin-left: 10px;
	}
}

.product-subheader{
	li{
		@include rem2(11px);
	}

	li + li{
		margin-left: 0;
	}
}

.product-description, .additional_info{
	margin-top: 20px;
	@include rem2(13px);
	line-height: 20px;
}