.product-links{
	text-align: center;
	li{
		display: inline-block;
		@include rem2(13px);
		color: $primary-color;
		text-transform: uppercase;
	}

	a{
		color: $primary-color;
	}

	.vectorline{
		padding: 0 10px;
	}
}