.page-product{

	#produto_nao_disp{
		.botao-nao_indisponivel{
			float: none;
			display: block;
			font-weight: normal;
			@include rem2(20px);
			color: $second-color;
			background: transparent;
			padding: 0;
			margin-bottom: 0;
		}
	}

	#nao_disp{
		label{
			display: inline-block;

			input{
				display: inline-block;
				height: 30px;
				padding: 0 10px;
				vertical-align: bottom;
				font-weight: normal;
				font-size: 12px;
				color: $primary-color;
				border: 1px solid $border-color;
				vertical-align: middle;
				margin-left: 10px;
				@include border-radius(5px);
			}

			br{
				display: none;
			}
		}

		#letMeKnow{
			display: inline-block;
			background: none;
			margin-left: 10px;
			width: auto;
			height: auto;
			vertical-align: middle;

			&:before{
				display: inline-block;
				content:'Enviar';
				color: #fff;
				height: 30px;
				line-height: 30px;
				@include rem2(14px);
				background: $five-color;
				padding: 0 20px;
				@include border-radius(5px);
			}

			img{
				display: none;
			}
		}

		#letMeKnow + .color{
			margin-top: 10px;
			color: $second-color;
			font-style: italic;
			font-size: 12px;
		}
	}

}