.product-price{
	.produto-formas-pagamento{
		display: none;
	}

	#preco{
		padding: 0;
		margin: 0;
		border: 0;

		> br{
			display: none !important;
		}
	}

	#produto_preco{
		> br{
			display: none !important;
		}

		.txt-por{
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 600;
			color: $primary-color;
			margin-right: 10px;
		}

		.PrecoPrincipal{
			display: inline-block;
			@include rem2(36px);
			color: $primary-color;
			font-weight: 600;
			margin-bottom: 0;
			margin-top: 5px;
			line-height: 40px;

			abbr{
				@include rem2(23px);
			}
		}

		.PrecoPrincipal + br{
			display: none;
		}

		.precode, .precode + span, #economize{
			display: block;
			color: $primary-color;
			@include rem2(12px);
			line-height: normal;
		}

		#economize{
			color: $primary-color;
		}
	}

	#info_preco{
		color: $primary-color;
		font-weight: normal;
		@include rem2(12px);

		.preco-parc2 .color, .preco-parc2 .preco-parc2 strong, .txt-cadaparcelas{
			color: $primary-color;
		}
	}
}