.page-product{
	#quantidade{
		padding: 0;
		margin: 15px 0 0 0;
		border: 0;
		text-align: center;

		label{
			display: block;
			@include rem2(14px);
			font-weight: bold;
			color: $primary-color;
			margin-bottom: 10px;
		}

		.button-qtd{
			border: 0;
			color: #000;
			padding: 0 10px;
			height: 45px;
			line-height: 45px;
			@include rem2(24px);
			background: none;
			vertical-align: middle;
		}

		.text{
			padding: 0;
			width: 45px;
			height: 45px;
			text-align: center;
			@include rem2(16px);
			font-weight: normal;
			color: $second-color;
			vertical-align: middle;
			border: 1px solid #979797;
			@include border-radius(5px);
		}
	}
}