.product-share{
	ul{
		margin-top: 10px;
		text-align: center;
	}

	li{
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
	}

	@media screen and (max-width: $small){
		margin-bottom: 40px;
	}
}