.shipping-result{
	position: relative;
	padding-top: 20px;

	.btn-close{
		display: block;
		text-align: right;
		text-transform: uppercase;
		font-size: 11px;
		color: $third-color;
		cursor: pointer;
		margin-bottom: 5px;
	}

	table{
		th, td{
			font-size: 12px;
			padding: 5px;
		}
	}

	.margem_imagem_frete{
		margin: 0;
	}
}