.product-inner-tabs{
	position: relative;
	margin-top: 100px;
	padding-bottom: 50px;
	background: #F5F7F8;

	.container{
		position: relative;
		z-index: 5;
		top: -50px;
	}

	#ProdAbas{
		border-bottom: 0;
		ul{
			padding-top: 0;
			margin-bottom: 0;
			border-bottom: 1px solid $border-color;

			&:after{
				@include clearfix;
			}
		}
		li{
			display: inline-block;
			margin-left: 0;
			padding: 0;

			a{
				padding: 15px 25px;
				margin-bottom: -1px;
				color: $primary-color;
				@include rem2(16px);
				font-weight: normal;
				line-height: normal;
				background: transparent;
				letter-spacing: 0;
				border-bottom: 1px solid $border-color;
			}

			@media screen and (max-width: $small){
				display: block;
				width: 100%;
				text-align: center;

				a{
					color: #fff !important;
					background: $primary-color !important;
				}
			}
		}
		li + li{
			margin-left: 0;
		}
		.aberta{
			a{
				font-weight: bold;
				color: $five-color;
				border-color: $five-color;

				@media screen and (max-width: $small){
					background: $second-color;
				}
			}
		}
	}

	#ProdBlock{
		.board{
			margin: 0;
		}
		.prodBox{
			padding: 25px 0;
			@include rem2(14px);
			color: $primary-color;
			background: transparent;
			line-height: 17px;
			border-left: 0;
			border-right: 0;
			border-bottom: 0;

			p{
				margin-bottom: 15px;
			}
		}

		.board_htm,
		.description{
			input, select, textarea, img{
				max-width: 100% !important;
			}

			@media screen and (max-width: $medium){
				input, select, textarea, img{
					height: auto !important;
				}
			}
		}

		@media screen and (max-width: $small){
			.prodBox{
				padding: 10px;
			}
		}
	}
}