.product-variants,
.additional_info{
	#menuVars{
		display: block;
		width: 100%;
		margin: 0;

		input[type=checkbox], input[type=radio]{
			margin-bottom: 2px;
			margin-left: 2px;
		}

	}

	.productAdditionalInformation{
		margin-left: -10px;
		margin-right: -10px;

		@media screen and (max-width: $small){
			margin-left: 0;
			margin-right: 0;
		}
		#menuVars{
			.varCont.varContAdd, .product-variants{
				float: left;
				width: 50%;
				padding: 0 10px;

				@media screen and (max-width: $small){
					float: none;
					display: block;
					width: 100%;
					padding: 0;
				}
			}

			.varCont.varContAdd.Escreva.o.nomepalavra.desejada{
				width: 100%;

				.info-escreva-o-nomepalavra-desejada{
					color: $five-color;
					@include rem2(14px);
				}

				input{
					width: 100%;
					color: #B5BCC8;
					@include rem2(18px);
					font-style: italic;
					@include border-radius(5px);
				}
			}

			@include clearfix2;
		}
	}

	.onVar{
		display: block;
		color: $primary-color;
		font-weight: normal;
		@include rem2(14px);
		margin-bottom: 7px !important;
	}

	.info-escreva-o-nomepalavra-desejada + .varCont{
		input{
			display: block;
			width: 100%;
			font-style: italic;
			color: #B5BCC8;
			@include rem2(18px);
			@include border-radius(5px);
		}
	}

	.show_size_and_color_type{
		text-align: center;

		.varCont{
			ul{
				width: 100%;
				text-align: center;

				li{
					margin: 0;
				}

				li + li{
					margin-top: 10px;
				}
			}
		}

		@media screen and (max-width: $small){
			padding-top: 20px;
			text-align: left;
		}
	}

	.texto_variacao{
		text-align: center;
		margin-bottom: 0;
		h2, h2 + span{
			display: inline-block;
			color: $third-color;
		}

		span{
			position: relative;
		}
	}

	// unordered variation list
	.lista_cor_variacao,
	.lista_cor_variacao2{
	    display: block;
	    overflow: hidden;
	    padding: 2px 2px 0;
	    
	    // wrapper each variation
	    li{
	        display: inline-block;
	        height: 40px;
	        width: 40px;
	        text-align: center;
	        margin: 5px 1px;
	        text-align: center;
	        overflow: hidden;
	        @include border-radius(50%);

	        img,
	        div{
	        	display: block;
	            white-space: nowrap;
	            color: #000;
	            background: #fff;
	            @include rem2(16px);
	            @include transition;
	            @include border-radius(50%);
	            
	            &.cor_selecionada{
	                background: $second-color;
	            }
	        }
	        
	        img{
	            max-height: 28px;
	        }
	        
	        div{
	            display: block;
	            height: 100%;
	            width: 100%;
	            line-height: 38px;
	            vertical-align: middle;
	            border: 1px solid #000;

	            &.cor_selecionada{
	            	color: #fff;
	            	border-color: transparent;
	            }
	        }
	    }
	    @media screen and (max-width: $small){
	    	text-align: center;
	    }
	}
	
	#estoque_variacao{
	    display: none;
	}
	
	.listaVarMultipla{
	    li{
	        white-space: nowrap;
	    }
	}
}