.page-home{
	.main-menu{
		margin-bottom: 0;
	}
	.background-1{
		background: #F5F7F8;
		padding: 60px 0;
	}

	.widget-instagram{
		padding: 60px 0 20px;

		h4{
			color: $primary-color;
			@include rem2(21px);
			margin-top: 70px;
			margin-bottom: 20px;

			span{
				color: #000;
				letter-spacing: 1px;
			}
		}

		h4 + a{
			display: inline-block;
			width: 265px;
			padding:20px 0;
			text-transform: uppercase;
			color: #000;
			@include rem2(16px);
			border: 1px solid #000;

			&:hover{
				text-decoration: none;
				background: #000;
				color: #fff;
			}
		}

		ul{
			text-align: center;
		}

		li{
			display: inline-block;
			max-width: 234px;
			width: 100%;
			margin: 0 15px;

			span{
				display: block;
				color: $primary-color;
				padding: 5px 10px;
				text-align: center;
				margin-top: 3px;
				border: 1px solid #B5BCC8;
			}

			@media screen and (max-width: $small){
				margin-top: 30px;
			}

			a:hover{
				text-decoration: none;
			}
		}
	}
}