.page-extra{
    
    .board_htm p img {
        height: auto;
    }
    
    #banner_title{
        display: none;
    }
    
    .page-content{
        font-size: 1.4rem;
        
        > *{
            background: #fff;
            padding: 30px;
        }
    }
    
    .Seguro{
        display: none;
    }
}

.board_htm.description{
    h1, h2, h3, h4, h5, h6{
        font-family: $font;
        font-weight: normal;
        color: $font-color;
        margin-bottom: 20px;
    }

    h1{font-size: 34px;}
    h2{font-size: 30px;}
    h3{font-size: 26px;}
    h4{font-size: 22px;}
    h5{font-size: 18px;}
    h6{font-size: 16px;}

    p{
        margin-bottom: 20px;
    }

    p, li{
        font-size: $font-size;
        color: $font-color;
        line-height: 20px;

        a{
            color: $primary-color;
            text-decoration: none;

            &:hover{
                color: $third-color;
                text-decoration: underline;
            }
        }
    }

    img{
        max-width: 100%;
    }

    ul{
        margin-left: 13px;
    }

    li{
        ul, ol{
            margin-top: 15px;
        }
    }

    ol{
        list-style: decimal;
        margin-left: 20px;
    }

    h1, h2, h3, h4, h5, h6, p, li{
        &:last-child{
            margin-bottom: 0;
        }
    }

    table{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
        td{
            padding: 10px;
            text-align: center;
        }
    }
}