/* ---------------------------------------------------------------------- */
/*  Page - Cart {Sem opencode}
/* ---------------------------------------------------------------------- */
.page-checkout_cart{

    .site-main{
        background: #F5F7F8;
    }

    .footer{
        border-top: 1px solid $border-color;
    }

    .main-menu{
        margin-bottom: 0;
    }

    .page-content{
        margin-bottom: 30px;
    }

    .caixa-produto{
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .board{
        margin: 0;
    }

    .AvancarTopo, .Seguro, .carrinho-tabs{
        display: none !important;
    }

    #cesta_produtos{
        margin-top: 40px;
    }

    .info-carrinho{
        margin-bottom: 30px;
        background: #fff;
        @include box-shadow(12px 0 40px rgba(83,105,128,.2));

        > h3{
            display: block;
            color: $page-cart-sidebar-title-color;
            background: $page-cart-sidebar-title-bg;
            font-size: $page-cart-sidebar-title-size;
            line-height: $page-cart-sidebar-title-line-height;
            font-weight: $page-cart-sidebar-title-bold;
            padding: $page-cart-sidebar-title-padding;
            text-transform: $page-cart-sidebar-title-upper;
            margin: $page-cart-sidebar-title-margin;
            text-align: $page-cart-sidebar-title-align;
        }

        .caixa-frete-nova,
        .caixa-cupom-nova{
            h4{
                display: block;
                color: $page-cart-sidebar-subtitle-color;
                background: $page-cart-sidebar-subtitle-bg;
                font-size: $page-cart-sidebar-subtitle-size;
                line-height: $page-cart-sidebar-subtitle-line-height;
                font-weight: $page-cart-sidebar-subtitle-bold;
                padding: $page-cart-sidebar-subtitle-padding;
                text-transform: $page-cart-sidebar-subtitle-upper;
                margin: $page-cart-sidebar-subtitle-margin;
                text-align: $page-cart-sidebar-subtitle-align;
            }
        }

        .blocoAlerta, .blocoSucesso, .bonus_cupom, .mensagensErro, .message{
            margin: 0 0 20px 0;
        }

        @media screen and (max-width: $small){
            margin-top: 30px;
            @include box-shadow(none);
            border: 1px solid $border-color;

            h3{
                padding-bottom: 15px;
            }
        }
    }

    .tablePage{
        border: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        background: transparent;
    }

    .tabela-carrinho + .col-lg-4{
        padding-left: 50px !important;

        @media screen and (max-width: $medium){
            padding-left: 5px !important;
        }
    }

    .tabela-carrinho{
        position: relative;

        &:after{
            content:'';
            position: absolute;
            width: 119px;
            height: 32px;
            top: 0;
            right: 15px;
            background: url(../img/ambiente-seguro.png) 0 0 no-repeat;
        }

        &:before{
            display: block;
            content:$page-cart-title-text;
            @include rem2($page-cart-title-size);
            font-weight: $page-cart-title-bold;
            color: $page-cart-title-color;
            margin-bottom: 20px;
            text-indent: 0;
        }
    }

    #tabela_carrinho{
        border: 0 !important;
        margin: 60px 0 0 0 !important;
        width: 100% !important;
        background: transparent;

        h4{
            color: $page-cart-table-title-color;
            font-size: $page-cart-table-title-size;
            font-weight: $page-cart-table-title-bold;
            padding: $page-cart-table-title-padding;
            margin: $page-cart-table-title-margin;
            text-align: $page-cart-table-title-align;

            a{
                &:hover{
                    text-decoration: none;
                    color: $primary-color;
                }
            }
        }

        h5{
            color: $page-cart-table-desc-color;
            font-size: $page-cart-table-desc-size;
            line-height: $page-cart-table-desc-line-height;
            font-weight: $page-cart-table-desc-bold;
            padding: $page-cart-table-desc-padding;
            margin: $page-cart-table-desc-margin;
            text-align: $page-cart-table-desc-align;
        }

        th, td{
            border: 0;
        }

        th{
            background: transparent;
            padding: $page-cart-table-th-padding;
            font-weight: $page-cart-table-th-bold;
            @include rem2($page-cart-table-th-size);
            color: $page-cart-table-th-color;
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            border-bottom: 1px solid $border-color !important;

            &:first-child{
                width: auto !important;
            }

            &:nth-child(2){
                width: 14% !important;
            }
            &:nth-child(3){
                width: 17% !important;
            }
            &:nth-child(4){
                width: 17% !important;
            }
            &:last-child{
                width: 5% !important;
            }
        }

        td{
            background: transparent;
            vertical-align: middle;
            padding: $page-cart-table-td-padding;
            @include rem2($page-cart-table-td-size);
            color: $page-cart-table-td-color;
            font-weight: $page-cart-table-td-bold;
            text-align: $page-cart-table-td-align !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            border-bottom: 1px solid $border-color !important;

            &:nth-child(2){
                text-align: left !important;
            }

            .valores_carrinho{
                font-weight: normal;
                font-size: 14px;
                color: #5b5b5f;
            }
        }

        .bt-excluir{
            img{
                display: none;
            }
            &:after{
                content:"";
                display: inline-block;
                width: 14px;
                height: 19px;
                background: url(../img/sprites/ico-trash.png) no-repeat;
            }

            &:hover{
                text-decoration: none;
            }
        }

        .qntd{
            text-align: center;
            margin: 0 auto;
            padding: 0;
            background: $page-cart-table-qtde-bg;
            width: $page-cart-table-qtde-width;
            height: $page-cart-table-qtde-height;
            @include rem2($page-cart-table-qtde-size);
            font-weight: $page-cart-table-qtde-bold;
            border: $page-cart-table-qtde-border;
            @include border-radius($page-cart-table-qtde-radius);
        }

        .refresh{
            display: block;
            margin-top: 5px;
            
            img{
                display: none;
            }

            &:before{
                content: "";
                display: inline-block;
                width: 16px;
                height: 13px;
                background: url(../img/sprites/ico-refresh.png) no-repeat;
            }
        }

        h3, h3 span, h3 .valores_carrinho{
            color: $page-cart-table-valor-color;
            font-size: $page-cart-table-valor-size;
            font-weight: $page-cart-table-valor-bold;
            padding: $page-cart-table-valor-padding;
            margin: $page-cart-table-valor-margin;
            text-align: $page-cart-table-valor-align;
        }
    }

    .caixa-total{
        padding: 0 15px;
        margin: 0;
        
        > .container2{
            border-top: 1px solid #dee1e3;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .tit-total{
            float: left;
            width: 50%;
            font-size: $page-cart-sidebar-total-text-size;
            font-weight: $page-cart-sidebar-total-text-bold;
            color: $page-cart-sidebar-total-text-color;
            text-align: $page-cart-sidebar-total-text-align;
            margin: $page-cart-sidebar-total-text-margin;
        }

        .tablePage{
            float: right;
            width: 50% !important;
            border: 0 !important;
            th, td{
                padding: 0;
                border: 0 !important;
                background: none;
                border: 0;
            }

            th:first-child{
                display: none;
            }
        }

        th:last-child{
            display: none !important;
        }

        h3, h3 .valores_carrinho{
            text-transform: uppercase;
            font-size: $page-cart-sidebar-total-valor-size;
            font-weight: $page-cart-sidebar-total-valor-bold;
            color: $page-cart-sidebar-total-valor-color;
            text-align: $page-cart-sidebar-total-valor-align;
            margin: $page-cart-sidebar-total-valor-margin;
        }
    }

    .caixa-total-frete{
        padding-top: 0 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    .caixa-total-frete, .caixa-total-cupom{
        .tit-total{
            font-size: $page-cart-sidebar-fretecupom-text-size;
            font-weight: $page-cart-sidebar-fretecupom-text-bold;
            color: $page-cart-sidebar-fretecupom-text-color;
            text-align: $page-cart-sidebar-fretecupom-text-align;
            margin: $page-cart-sidebar-fretecupom-text-margin;
        }

        h3, h3 .valores_carrinho{
            text-transform: uppercase;
            font-size: $page-cart-sidebar-fretecupom-valor-size;
            font-weight: $page-cart-sidebar-fretecupom-valor-bold;
            color: $page-cart-sidebar-fretecupom-valor-color;
            text-align: $page-cart-sidebar-fretecupom-valor-align;
            margin: $page-cart-sidebar-fretecupom-valor-margin;
        }
    }

    .caixa-cupom-nova{
        margin-top: 20px !important;
        padding-top: 20px !important;
        padding-bottom: 10px !important;
        border-top: 1px solid $border-color;
    }

    .caixa-frete, #ProdBlock{
        display: none;
    }

    #calculoFrete{
        margin: 0;
        padding: 0;
        border-bottom: 0;
        border-top: 0;
        font-size: 100%;
        font-weight: normal;
        font-style: italic;
        color: #9c9aa0;
        text-align: left;

        .text{
            display: inline-block;
            height: 31px;
            padding: 0 8px;
            vertical-align: middle;
            font-weight: normal;
            @include rem2(12px);
            font-style: normal;
            color: $primary-color;
            border: 1px solid #aaaaaa;
            @include border-radius(5px);
        }

        #cep1{
            width: 100px;
        }

        #cep2{
            width: 50px;
            margin-right: 10px;
        }

        h6, > label{
            display: none;
        }

        @include placeholder2(#9c9aa0, 12px);

        @media screen and (max-width: $small){
            font-size: 0;

            #cep2{
                margin-left: 10px;
            }
        }
    }

    .carFretePara{
        margin-top: 5px;
        display: block;
        color: $primary-color;
        text-align: right;
    }

    .AvancarTopo + .botao-prosseguir-compra{
        display: none;
    }

    .caixa-forma-frete{
        padding: 0 15px 15px 15px;
        th, td{
            border: 0;
            padding: 0;
        }
        th{
            width: auto;
            br{display: none !important;}
        }

        > br{
            display: none !important;
        }

        > table{
            width: 100% !important;
            margin: 0 !important;
            border: 0 !important;

            > tbody{
                > tr{
                    &:first-child{
                        display: none !important;
                    }
                    > td, > th{
                        &:first-child{
                            width: 100% !important;
                        }
                        &:last-child{
                            display: none !important;
                        }
                    }

                    > td + td{
                        display: none !important;
                    }

                    .tablePage{
                        tr{
                            display: block;
                            border-bottom: 1px solid #dee1e3;
                            &:after{
                                @include clearfix;
                            }
                        }
                        td{
                            float: left;
                            display: block !important;
                            width: 50% !important;
                            padding: 15px 0 10px !important;
                            text-align: left !important;
                            font-size: 13px;
                            border-bottom: 0 !important;

                            br{
                                display: none !important;
                            }

                            img{
                                display: block;
                                margin-top: 10px;
                            }

                            .valores_carrinho{
                                font-size: 16px !important;
                                font-weight: 700 !important;
                                text-transform: uppercase !important;
                                color: $primary-color !important;
                            }

                            &:nth-child(2){
                                text-align: right !important;
                            }

                            &:last-child{
                                float: none;
                                width: 100% !important;
                                text-align: center !important;
                                padding: 0 0 15px 0 !important;
                                @include clearfix;

                                a:hover{
                                    color: #000;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        h3{
            font-size: 22px;
            text-align: center;
            .valores_carrinho, span{
                font-size: 22px;
            }
        }
    }

    .caixa-botoes{
        padding: 0;
        margin: 0;
        
        .board{
            text-align: center;

            .bt-avancar, .bt-continuar-comprando{
                float: none;
            }

            > .bt-continuar-comprando{
                margin-bottom: 10px;
            }
        }
    }

    .caixa-cupom{
        display: block;
        width: 100% !important;
        font-size: 0;
        text-align: left;

        label{
            display: none;
        }

        .text{
            display: inline-block;
            height: 31px;
            width: 155px;
            margin: 0 5px 0 5px;
            padding: 0 8px;
            vertical-align: middle;
            font-weight: normal;
            @include rem2(12px);
            font-style: normal;
            color: $primary-color;
            border: 1px solid #aaaaaa;
            @include border-radius(5px);

            @media screen and (max-width: $small){
                margin-left: 0;
            }
        }

        @include placeholder2(#9c9aa0, 12px);

    }

    #formas_envio_frete{
        margin-top: 20px;
        border-top: 1px solid #e0e0e0;

        &:after{
            @include clearfix;
        }
        tr{
            padding-top: 5px;
            display: block;
            &:after{
                @include clearfix;
            }
            td{
                float: left;
                width: 50% !important;
                padding: 5px !important;
                border-bottom: 0;

                &:last-child{
                    width: 100% !important;
                    padding-bottom: 10px !important;
                    border-bottom: 1px solid #e0e0e0;
                }
            }
        }
    }

}

@media screen and (max-width: $small){
    .page-checkout_cart{
        #tabela_carrinho{
            tr{
                border: 1px solid $border-color;
                padding: 0 !important;
                background: none;

                &:first-child{
                    display: none !important;
                }

                td{

                    border-bottom: none;
                    border-top: none;
                    display: block;
                    padding: 0;
                    text-align: left;

                    &:first-child, &:nth-child(2){
                        padding: 5px !important;
                        min-height: 88px;
                        margin-bottom: 0 !important;
                    }
                    
                    &:nth-child(1){
                        float: left;
                        text-align: center;
                        width: 40%;

                        img{
                            max-height: 75px;
                        }
                    }

                    &:nth-child(3){
                        width: 40%;
                        clear: both;
                        border-right: 1px solid $border-color !important;
                    }

                    &:nth-child(4){
                        &:before{
                            content: 'Valor uni.';
                        }
                    }

                    &:nth-child(5){
                        &:before{
                            content: 'Valor total';
                        }
                    }
                    
                    &:nth-child(3), &:nth-child(4), &:nth-child(5){
                        float: left;
                        padding: 11px 0;
                    }
                    
                    &:nth-child(4), &:nth-child(5){
                        text-align: left;
                        width: 60%;
                    }
                    
                    &:nth-child(5){                        
                        h3{
                            display: inline;
                        }
                    }
                    
                    &:last-child{
                        padding: 10px 0;
                        border: 0 !important;
                        clear: both;
                    }
                }
            }

            .bt-excluir{
                position: relative;
                right: 0;
                top: 0;
            }
        }
    }
}