/* ---------------------------------------------------------------------- */
/*  Page - Cadastro {Sem opencode}
/* ---------------------------------------------------------------------- */
.page-register{
    .carrinho-tabs{
        display: none;
    }
    h1.color{
        color: $primary-color;
        font-family: $font2;
        font-weight: bold;
        font-size: 30px;
        margin-top: 40px;
        margin-left: 0;
    }
    h2.color{
        margin-bottom: 20px;
    }
    .txt-dados-entrega{
        margin-top: 30px;
    }
    #frm2{
        padding: 20px;
        margin-bottom: 40px;
        background: #fff;
        border: 1px solid $border-color;

        input, select, textarea{
            margin-top: 2px;
            padding: 5px;
            border: 1px solid #e0e0e0;
            @include border-radius(5px);
        }

        button{
            padding: 0;
        }
    }
    #juridica, #fisica{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .dif{
        font-size: 100%;
        padding: 0;
    }

    .board, fieldset{
        margin: 0;
        padding: 0;

        .obriga.red{
            border-left: 2px solid red;
        }
    }

    fieldset{
        margin-bottom: 0;

        label, > strong{
            display: block;
        }

        > p{
            margin-top: 20px;
        }
    }

    .board{
        >br{
            display: none;
        }
    }

    #CadastroAbas{
        background: none;
        border: 0;
        margin-top: 20px;
        ul{
            &:after{
                @include clearfix;
            }
        }
        li{
            display: inline-block;
            margin-left: 0;
            margin-right: 5px;
            padding: 0;
            a{
                padding: 0 40px;
                background: #e5e5e5;
                color: #9f9f9f;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 50px;
                border-top: 1px solid $border-color;
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;

                &:hover{
                    color: #9f9f9f;
                }
            }
        }
        .aberta{
            a{
                font-weight: bold;
                color: #9f9f9f;
                background: #fff;
            }
        }
    }

    #seguranca_senha{
        display: block;
        margin-bottom: 7px;

        img{
            margin-bottom: 0;
        }
    }

    .central-mapa, .Seguro, .carrinho-heading{
        display: none;
    }

    .central-breadcrumb{
        margin-top: 20px;
    }

    input.obriga{
        border-left: 3px solid #F00 !important;
    }
}