/* ---------------------------------------------------------------------- */
/*  Page - Login {Sem opencode}
/* ---------------------------------------------------------------------- */
.page-login{
    .site-main{
        background: $page-login-bg;
        padding: $page-login-padding;
    }

    h2.carrinho-heading,
    .Seguro,
    .carrinho-tabs,
    .cadastro-desc,
    .login-campos-obrigatorios,
    .cadastro-mensagem,
    .titulo-login{
        display: none;
    }

    .container2{

        .board{
            margin: 0;
            text-align: center;
            .caixa-login, .caixa-cadastro{
                float: none;
                display: inline-block;
                max-width:400px;
                width: 100%;
                margin: 40px 20px;
                padding: 0;
                overflow: hidden;
                vertical-align: top;

                > br, label br{
                    display: none;
                }
                
                fieldset{
                    padding: 0 25px 30px;
                    text-align: center;

                    >p{
                        margin-top: 0 !important;
                    }

                    br{
                        display: none;
                    }

                    label{
                        display: block;
                        font-size: 0;
                        color: #fff;
                        position: relative;
                    }

                    input.text, #email_login, #senha_login, #email_cadastro{
                        width: 100% !important;
                        height: 40px !important;
                        line-height:40px;
                        padding: 7px 7px 7px 55px;
                        background: $page-login-input-bg;
                        font-size: $page-login-input-size;
                        color: $page-login-input-color;
                        border: $page-login-input-border;
                        @include border-radius($page-login-input-radius);
                    }

                    @include placeholder2($page-login-input-color, $page-login-input-size);

                    input + i{
                        position: absolute;
                        left: 0;
                        top: 8px;
                        color: $page-login-input-icon-color;
                        font-size: $page-login-input-icon-size;
                        height: 25px;
                        width: 45px;
                        line-height: 25px;
                        text-align: center;
                        border-right: 1px solid #ebebeb;
                    }

                }

                h3{
                    position: relative;
                    font-family: $font;
                    text-align: left;
                    line-height: normal;
                    padding: 30px;
                    margin-top: 0;

                    span{
                        display: inline-block;
                        font-style: normal;
                        font-family: $font;
                    }

                    @include clearfix2;
                }
            }
        }

        .board{
            .caixa-login{
                background: $page-login-login-bg;
                @include box-shadow($page-login-login-shadow);
                @include border-radius($page-login-login-radius);
                border: $page-login-login-border;

                h3{
                    color: $page-login-login-title-color;
                    @include rem2($page-login-login-title-size);
                    font-weight: $page-login-login-title-bold;
                    text-transform: $page-login-login-title-upper;

                    span{
                        @include rem2($page-login-login-text-size);
                        font-weight: $page-login-login-text-bold;
                        color: $page-login-login-text-color;
                        text-transform: $page-login-login-text-upper;
                    }
                }

                > p{
                    margin-top: 0 !important;
                }
            }

            .caixa-cadastro{
                background: $page-login-cadastro-bg;
                @include box-shadow($page-login-cadastro-shadow);
                @include border-radius($page-login-cadastro-radius);
                border: $page-login-cadastro-border;

                h3{
                    color: $page-login-cadastro-title-color;
                    @include rem2($page-login-cadastro-title-size);
                    font-weight: $page-login-cadastro-title-bold;
                    text-transform: $page-login-cadastro-title-upper;

                    span{
                        @include rem2($page-login-cadastro-text-size);
                        font-weight: $page-login-cadastro-text-bold;
                        color: $page-login-cadastro-text-color;
                        text-transform: $page-login-cadastro-text-upper;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile){
    .page-login{
        .page-content{
            > .container{
                padding: 0;
            }
        }
        .container2{
            .board{
                .caixa-login, .caixa-cadastro{
                    fieldset{
                        padding: 10px 10px 15px;
                    }
                }
            }
        }
    }
}