.page-catalog,
.page-search{

    .main-menu{
        margin-bottom: 0;
    }
    
    .sidebar-hidden{
        @media screen and (max-device-width: 1024px){
            display: none !important;
        }
    }
    
    .smart-filter{
        a{
            color: #3d4445;
            text-decoration: none;
            @include typo(1.2rem, 400, $font, 1.7rem);
        }
    }
    
    .banner-title{
        margin-bottom: 15px;
    }
    
    .catalog-header{
        h2{
            color: $five-color;
            background: #E8ECEF;
            @include rem2(30px);
            letter-spacing: 4px;
            margin-bottom: 50px;
            text-align: center;
            font-weight: bold;
            padding: 40px 0;
        }

        @media screen and (max-width: $small){
            text-align: center;

            h2{
                text-align: center;
            }
        }
    }
    
    // pagination
    .catalogo-display{
        color: #3d4445;
        font-size: 1.4rem;
        line-height: 2rem;
        
        @media screen and (max-width: $sm){
            float: none;
            text-align: center;
        }
    }

    .catalog-paginate{
        text-align: center;
    }
    
    .btns-paginator,
    .page-link{
        display: inline-block;
        width: auto;
        background: #fff;
        color: $primary-color;
        font-weight: normal;
        @include rem2(16px);
        margin: 0 8px;
        vertical-align: top;
        
        &.page-current{
            background: #fff;
            color: $five-color;
            font-weight: bold;
            text-decoration: underline;
        }
        
        a{
            background: #fff;
            color: $primary-color;
            display: block;
            
            &:hover{
                color: $five-color;
                font-weight: bold;
                text-decoration: none;
            }
        }
        
        &.selectedPg{
            background: transparent;
            color: $primary-color;
            padding: 0 5px;
        }
        
        @media screen and (max-width: $sm){
            &.btn-proxima-pagina,
            &.btn-ultima-pagina,
            &.btn-primeira-pagina,
            &.btn-pagina-anterior{
                display: block !important;
                margin: 15px 0 !important;
                text-align: center;
            }
        }
    }

    .catalog-header{
        margin-bottom: 40px;

        .catalog-paginate{
            margin-top: 30px;
        }
    }
    
    .separador-paginas{
        display: none;
    }

    .search-counter{
        text-align: left;
        @include rem2(14px);
        color: $primary-color;

        @media screen and (max-width: $small){
            text-align: center;
            padding-top: 30px;
        }
    }
    
    // system filters
    .system-filter{
        text-align: right;
        
        .filtros{
            display: inline-block;
            float: none;
            margin-left: 10px;
            vertical-align: top;
            @include typo(1.4rem, 400, $font);
            
            @media screen and (max-width: $medium){
                
            }
            
            @media screen and (max-width: $small){
                display: block;
                margin-top: 15px;
                margin-right: 0;
                margin-left: 0;
                text-align: center;
                
                .select{
                    display: block;
                    margin-top: 5px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        
            .select{
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;
                width: auto;
                height: auto;
                line-height: normal;
                color: $five-color;
                border-color: $five-color;
                @include typo(1.6rem, 400, $font);
                @include border-radius(5px);
                border: 1px solid $border-color;
                border: 0;
            }
        }
    }
    
    // breadcrumb
    .breadcrumb{
        margin-bottom: 15px;
        padding: 0;
    }
    
    // search advanced
    #vitrine-catalogo{
        
        #Vitrine + br,
        #Vitrine + br + .container,
        .container3:first-child{
            display: none;
        }
        
        #Vitrine{
            background: #fff;
            font-size: 1.4rem;
            padding: 30px;
            
            @media screen and (max-width: $sm){
                text-align: left;
            }
            
            input[type="text"]{
                padding: 5px;
                
                @media screen and (max-width: $sm){
                    border: 1px solid #e2e2e2;
                    display: block;
                    margin: 3px 0 15px;
                    width: 100%;
                    
                    &[name="palavra_busca"]{
                        margin-bottom: 3px;
                    }
                }
            }
            
            .select{
                padding: 5px;
                
                @media screen and (max-width: $sm){
                    border: 1px solid #e2e2e2;
                    display: block;
                    margin-top: 3px;
                    width: 100%;
                }
            }
            
            form p{
                line-height: 2rem;
                margin: 30px 0;
                
                input{
                    margin-right: 5px;
                }
            }
            
            input[type="image"]{
                background: url('../img/send-button.png') left top;
                height: 0;
                padding: 20px 65px;
                width: 0;
            }
        }
        
        .blocoAlerta{
            margin: 30px 0;
        }
        
        #div_erro{
            
            a h3{
                font-size: 1.6rem;
            }
        }
    }
    
    // comparator
    .button-compare{
        background: #000;
        color: #fff;
        float: right;
        margin-top: 18px;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        @include typo(1.6rem, 400, $font, 1.6rem);
        
        @media screen and (max-width: $sm){
            display: block;
            float: none;
            margin: 15px 0;
            text-align: center;
        }
    }
    
    .compare-buttons{
        margin-top: 15px;
        
        a{
            color: #3d4445;
            text-decoration: none;
            @include typo(1.2rem, 400, $font, 1.7rem);
        }
    }
    
    // catalog empty
    .catalog-empty{
        background: #fff;
        padding: 0 30px 30px;
        text-align: center;
        
        p{
            font-size: 2rem;
        }
    }
}