.page-product{

    .blocoAlerta, .blocoSucesso, .bonus_cupom, .mensagensErro, .message{
        margin: 15px 0 0 0;
    }

    .border-right{
        border-right: 1px solid $border-color;
        
    }
    .border-left{
        border-left: 1px solid $border-color;
        
    }
    
    .breadcrumb{
        margin-bottom: 40px;
        padding: 0;
        
        .icon-breadcrumb{
            font-size: 0;
            
            &:before{
                font-size: 1.4rem;
            }
        }
    }

    .product-title{
        color: $primary-color;
        @include rem2(24px);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    body.modal-open{
        padding: 0 !important;
    }
    
    .code{
        padding: 5px;
    }       
    
    .bonus_cupom{
        display: block;
        width: 100%;
        margin: 0 0 15px 0;
    }
    
    .product-colum-left,
    .product-colum-right{
        
        @media screen and (max-width: $sm){
            padding: 0;
        }
    }

    .product-colum-right{
        hr{
            margin: 25px 0;
        }
    }
    
    // iconografia
    .iconografia{
        margin-bottom: 15px;
    }
    
    // modal carrinho responsivo
    @media screen and (max-width: $sm){
        body.modal-open{
            padding: 0 !important;
        }
        
        // shipping
        .modal.in:not(.cart-preview) .modal-dialog{
            top: 5%!important;
            left: 5%!important;
            right: 5%!important;
            bottom: 5%!important;
            margin: 0 !important;
            width: 90% !important;
            height: 90% !important;
            overflow: auto;
            
            .modal-content{
                overflow: scroll;
            }
        }
    }    
    
    .page-simula-frete{
        font-size: 1.6rem;
        
        @media screen and (max-width: $sm){
            overflow: scroll;
        }
        
        th{
            border-bottom: 1px solid #ccc;
            padding: 10px 15px;
            text-align: left;
        }
        
        td{
            padding: 10px 15px;
            
            &:first-child{
                text-align: left;
            }
            img{
                max-width: 100px;                    
            }
        }
    }
    
    // product buttons (featured, free-shipping, new)
    .product-labels{
        display: block;
        margin-bottom: 15px;
        overflow: hidden;
    }
    
    // model, reference
    .product-details{
        color: #aaa;
        display: block;
        margin-bottom: 15px;
        @include typo(1.2rem, 400, $font, 1.5rem);
        
        a{
            color: #3d4445;
        }
    }
    
    // image that appears on each variation when it's isn't in stock
    .sem_estoque{
        
    }
    
    // buy button
    .wrapper-btn-buy{
        margin-bottom: 15px;
    }
    
    #product-form-box{
        display: block;
        margin-bottom: 15px;
        
        &:after{
            clear: both;
            content: '';
            display: block;
        }
    }
    
    // additional message
    .additional-message,
    .additional-information{
        font-size: 1.4rem;
        margin-bottom: 15px;
        text-align: justify;
    }
    
    // social
    .product-social{
        min-height: 36px;
        margin-top: 15px;
        text-align: center;
    }
    
    .botao-nao_indisponivel {
        float: left;
        font-size: 1.2rem;
        margin-bottom: 15px;
        padding: 5px 41px;
    }

    #letMeKnow {
        background: #3d4445;
        display: inline-block;
        height: 40px;
        vertical-align: top;
        width: 40px;
        
        img{
            display: none;
        }
        
        &:before{
            color: #fff;
            content: 'Ok';
            @include typo(1.4rem, 400, $font, 4rem);
        }
    }
    
    // products related
    .products-related{
        background: #fff;
        border: 1px solid #e2e2e2;
        margin-top: 30px;
        padding: 20px 40px 40px;
        
        @media screen and (max-width: $sm){
            background: none;
            padding: 0;
        }
        
        > h4{
            color: #9e9e9e;
            margin-bottom: 5px;
            text-transform: uppercase;
            @include typo(1.3rem, 400, $font, 1.3rem);
        }
        
        > h3{
            color: #3d4445;
            text-transform: uppercase;
            @include typo(2.5rem, 400, $font, 2.5rem);
        }
        
        @media (min-width: 768px){
            
            .product{
                border: none;
                padding: 0;
            }
        }
    }
    
    // ranking
    .ranking{
        font-size: 0;
        line-height: 0;
        margin-bottom: 15px;
        
        .star0, .star1, .star2, .star3, .star4, .star5{
            background-image: url('../img/ranking.png');
            background-repeat: no-repeat;
            display: block;
            float: none;
            height: 15px;
            width: 96px;
        }
        
        .star5 {
            background-position: 0 0;
        }
        
        .star4 {
            background-position: -20px 0;
        }
        
        .star3 {
            background-position: -40px 0;
        }
        
        .star2 {
            background-position: -60px 0;
        }
        
        .star1 {
            background-position: -80px 0;
        }
        
        .star0 {
            background-position: -100px 0;
        }
    }
    
    // comment form
    .hreview-comentarios {
        padding: 20px 0;
        
        .ranking{
            margin-top: 15px;
        }
        
        .reviewer h3{
            font-weight: 700;
        }
    }
    
    #nome_coment,
    #email_coment{
        display: block;
        margin-top: 5px;
        width: 250px;
        
        &:hover{
            cursor: no-drop;
        }
    }
    
    #mensagem_coment{
        height: 200px;
        margin-top: 3px;
        width: 400px !important;
        
        @media screen and (max-width: $sm){
            width: 100% !important;
        }
    }
    
    .ajuste-nota{
        display: none;
    }
    
    #coments{
        
        h2{
            font-size: 1.8rem;
            font-weight: 700;
        }
        
        #comentario_cliente{
            
            a{
                color: #3d4445;
            }
        }
        
        label{
            
            h3 + br{
                display: none;
            }
        }
        
        .starn{
            background: url('../img/stars-new.png?1') no-repeat center top;
            width: 45px;
        }
        
        .star-on{
            background-position-x: center !important;
        }
        
        .rateBlock{
            margin-bottom: 30px;
        }
        
        #bt-submit-comments{
            background: url('../img/send-button.png') left top;
            height: 0;
            margin-bottom: 50px;
            padding: 20px 65px;
            width: 0;
        }
    }
    
    // catacao
    #div_atualiza{
        @include typo(1.4rem, 400, $font, 2rem);
        
        form{
            @include typo(1.4rem, 400, $font, 2rem);
            
            fieldset{
                
                > p{
                    margin-top: 10px;
                }
            }
        }
        
        label{
            display: block;
        }
    }
    
    .perguntasProdutoBTimg {
        background: #3d4445;
        color: #fff;
        padding: 10px 30px;
    }
    
    #bloco-add-lista {
        border: 0; 
        margin-bottom: 15px;
        margin-top: 15px;
         
        a {
            background: #3D4445;
            color: #fff;
            display: inline-block;
            font-size: 130%;
            font-weight: bold;
            padding: 10px; 
            padding: 5px;
            text-decoration: none;
            text-transform: uppercase;
        } 
    }

    @media screen and (max-width: $small){
        .border-left, .border-right{
            border: 0;
        }
    }
}