<a href="{{ links.cart }}" class="cart" data-tray-tst="link_qtde_carrinho">
    <span class="cart-icon">
        <i class="ico ico-cart"></i>
        <span class="cart-qtde"><span data-cart="amount" data-tray-tst="carrinho_qtde">{{ cart.amount }}</span></span>
    </span>
    <span class="cart-total">
        <span class="cart-price">
        	<span class="cart-currency">{{ settings.currency }}</span> <span data-cart="price" data-tray-tst="carrinho_valor">{{ cart.price }}</span>
        </span>
        <span class="cart-finalizar">Finalizar Pedido</span>
    </span>
</a>