<div class="customer" data-tray-tst="saudacao">
    <span class="tray-hide" data-logged-user="true">
        <ul>
            <li>
                Bem-vindo <span data-customer="name"></span>
            </li>
            <li>
                <a href="{{ links.central }}" data-tray-tst="meu_cadastro"><i class="ico ico-user"></i> Minha Conta</a>
            </li>
            <li>
                <a href="{{ links.logout }}"><i class="ico ico-lock"></i> {{ Translation('sair') }}</a>
            </li>
        </ul>
    </span>
    <span class="tray-hide" data-logged-user="false">
        <ul>
            <li>
                <a href="{{ links.central }}" data-tray-tst="meu_cadastro"><i class="ico ico-user"></i> Minha Conta</a>
            </li>
            <li>
                <a href="{{ links.login }}" data-tray-tst="login"><i class="ico ico-lock"></i> Fazer Login</a>
            </li>
        </ul>
    </span>
</div>