{% if settings.show_filters %}
    <form class="catalogo-form-filtros" data-form="filter">
        <input name="loja" type="hidden" value="{{ store.id }}">

        {% if brands %}

            <label class="filtros filtro_marca">
                {{ Translation('filtro_marca') }}&nbsp;
                <select name="filtrar_marca" class="select" id="filtrar_marca">
                    <option value="">...</option>
                    {% for brand in brands %}
                        {% set selected = brand.selected ? 'selected="selected"' : '' %}
                        <option value="{{ brand.name }}" {{ selected }}>{{ brand.name }}</option>
                    {% endfor %}
                </select>
            </label>

        {% endif %}

        <label class="filtros filtro-ordem">
            Ordernar por&nbsp;
            <select name="order" id="select_ordem" class="select">
                {% for option in search.order_options %}
                    {% set selected = option.selected ? 'selected="selected"' : '' %}
                    <option value="{{ option.value }}" {{ selected }}>{{ option.name }}</option>
                {% endfor %}
            </select>
        </label>

        {% if search.available_options %}

            <label class="filtros filtro-disponibilidade">
                {{ Translation('txt_disponibilidade') }}
                <select name="disponibilidade_tag" class="select" id="filtrar_disponibilidade">
                    <option value="">...</option>
                    {% for option in search.available_options %}
                        {% set selected = option.selected ? 'selected="selected"' : '' %}
                        <option value="{{ option.value }}" {{ selected }}>{{ option.name }}</option>
                    {% endfor %}
                </select>
            </label>

        {% endif%}

        {% if category.children %}

            <label class="filtros">
                {{ Translation('sub_categorias') }}&nbsp;
                <select name="categoria" class="select" id="filtrar_categoria">
                    <option value="{{ category.id }}" selected="selected">{{ Translation('escolha') }}</option>
                    {% for category in category.children %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </label>

        {% else %}

            <input type="hidden" name="categoria" value="{{ category.id }}">

        {% endif %}

    </form>
{% endif %}
