<div class="menu-mobile-backdrop visible-xs-block"></div>
<div class="menu-mobile visible-xs-block">  
    <div class="close-menu">X</div>
    <h5>{{ Translation('categorias') }}</h5>
    <ul class="categories-mobile level1">
        {% for level1 in categories %}
            {% if level1.id not in delcat %}
                <li class="item-level1">
                    {% if level1.children %}
                    <input type="checkbox" id="mobile-item-{{ level1.id }}" class="level1-check"/>
                    <label class="link-level1" for="mobile-item-{{ level1.id }}" data-tray-tst="categoria_lvl_1">
                        <i class="pull-right arrow-menu-mobile"><img src="{{ asset('img/arrow-right.svg') }}" height="16" width="16" alt="Seta"></i>
                        {{ level1.name }}
                    </label>
                    {% else %}
                    <a href="{{ level1.link }}" class="link-level1" data-tray-tst="categoria_lvl_1">{{ level1.name }}</a>
                    {% endif %}
                    
                    {% if level1.children %}
                        <div class="level2">
                            <ul>
                                {% for level2 in level1.children %}
                                    <li class="item-level2">
                                        <a href="{{ level2.link }}" class="link-level2" data-tray-tst="categoria_lvl_2">{{ level2.name }}</a>
                                        {% if level2.children %}
                                            <div class="level3">
                                                <ul>
                                                    {% for level3 in level2.children %}
                                                        <li class="item-level3">
                                                            <a href="{{ level3.link }}" class="link-level3" data-tray-tst="categoria_lvl_3">{{ level3.name }}</a>
                                                            {% if level3.children %}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>