<div class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="level1">
                    {% for level1 in categories %}
                        {% if loop.index <= settings.menu_quantidade %}
                        <li class="item-level1">
                            <a href="{{ level1.link }}" title="{{ level1.name }}" class="link-level1 item-cat-{{ level1.id }}" data-tray-tst="categoria_lvl_1">
                                <span>
                                    {% if level1.images %}
                                    <img src="{{ level1.images[0] }}" alt="{{ level1.name }}">
                                    {% endif %}
                                </span>
                                {{ level1.name }}
                            </a>
                            {% if level1.children %}
                                <div class="level2 item-cat-{{ level1.id }}">
                                    <div class="submenu">
                                        <ul>
                                        {% for level2 in level1.children %}
                                            <li class="item-level2 item-cat-{{ level2.id }}">
                                                <a href="{{ level2.link }}" class="link-level2" data-tray-tst="categoria_lvl_2">{{ level2.name }}</a>
                                                {% if level2.children %}
                                                <div class="level3">
                                                    <ul>
                                                        {% for level3 in level2.children %}
                                                            <li class="item-level3 item-cat-{{ level3.id }}">
                                                                <a href="{{ level3.link }}" class="link-level3" data-tray-tst="categoria_lvl_3">{{ level3.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>