<div class="widget-news" data-tray-tst="newsletter_box">
	{% if settings.newsletter_title %}<h3>{{ settings.newsletter_title }}</h3>{% endif %}
	{% if settings.newsletter_text %}<p>{{ settings.newsletter_text }}</p>{% endif %}
	<form action="{{ links.newsletter }}" method="post" name="newsletter" data-tray-tst="newsletter_form">
		<div class="group-form">
			<i class="ico ico-envelope"></i>
			<input name="email" type="email" placeholder="Digite seu e-mail" data-tray-tst="newsletter_email" required>
			<button data-tray-tst="newsletter_cadastrar">Assinar</button>
		</div>
	</form>
</div>