<ul class="payment-list foo-payment">
    {% for payment in paymentMethods.order %}
        <li class="payment-form">
            <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
        </li>
    {% endfor %}
    {% for payment in paymentMethods.credit %}
        <li class="payment-form">
            <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
        </li>
    {% endfor %} 
</ul>