{% set maxValue = 0 %}
{% if product.variants %}
    {% for variant in product.variants %}
        {% set maxValue = max(variant.price, maxValue) %}
    {% endfor %}
{% endif %}

{% if product.price_offer > 0 %}
    {% set finalprice = product.price_offer %}
{% else %}
    {% set finalprice = product.price %}
{% endif %}

<div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="price-promotion">
        <div itemprop="price" content="{{ finalprice }}">
            <span>De</span> <abbr class="currency" itemprop="priceCurrency">{{ settings.currency }}</abbr> {{ finalprice|currency  }}
        </div>
    </div>
    {% if maxValue > 0 %}
    <div class="price-max">
        <div content="{{ maxValue }}">
            <span>Até</span> <abbr class="currency" itemprop="priceCurrency">{{ settings.currency }}</abbr> {{ maxValue|currency }}
        </div>
    </div>
    {% endif %}
    <span class="button-comprar">Comprar</span>
</div>