{% if product.price_offer > 0 %}
    {% set percent = ((product.price - product.price_offer) * 100) / product.price %}
{% endif %}
<div itemscope itemtype="http://schema.org/Product" class="product">
    <a href="{{ product.link }}" data-tray-tst="vitrine_produto_link_imagem">
        <div class="product-tags">
            {% if product.free_shipping %}<span class="tag tag-shipping">Frete Grátis</span>{% endif %}
            {% if product.featured %}<span class="tag tag-featured">Destaque</span>{% endif %}
            {% if product.new %}<span class="tag tag-new">Lançamento</span>{% endif %}
        </div>
        {% if percent %}<span class="tag-discount"><strong>{{ percent|round }}% <small>OFF</small></strong></span>{% endif %}

        <div class="product-image">
            {% if product.images %}
                <img src="{{ product.images[0].full }}" alt="{{ product.name }}">
            {% else %}
                <img src="{{ asset('img/sem-imagem.jpg') }}" alt="Nenhuma imagem foi cadastrada" width="100">
            {% endif %}
        </div>

        <div class="product-info">
            <div class="showcase-product-name" itemprop="name">{{ product.name }}</div>
            {% element 'snippets/price' {"product": product} %}
        </div>
    </a>
</div>