<div data-url-form="/mvc/store/product/variant_form/?loja={{ store.id }}">
    <div data-app="product.buy-button" id="bt_comprar">
        {% if product.available %}
        <button id="button-buy" type="submit">Comprar Agora!</button>
        <div id="loading_btn" align="left" style="display:none">
            <img src="/mvc/adm/img/loading.gif">Calculando ...
        </div>
        {% endif %}
    </div>
</div>