<div class="search">
    <form role="form" action="{{ links.search }}" method="get" data-tray-tst="form_busca" {% if not utils.is_mobile %}data-search="suggestion"{% endif %}>
        <input type="hidden" name="loja" value="{{ store.id }}">
        <div class="group">
        	<i class="ico ico-search"></i>
            <input class="search-key" type="search" placeholder="Pesquise aqui..." name="palavra_busca" tabindex="1" data-tray-tst="busca_palavra" {% if not utils.is_mobile %}data-input="suggestion"{% endif %} required>
            <button class="search-button" type="submit" tabindex="2" data-tray-tst="botao_buscar">IR</button>
        </div>
    </form>
</div>