<ul class="social-list">
    {% if settings.facebook %}
    <li>
        <a href="{{ settings.facebook }}" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    {% endif %}
    
    {% if settings.twitter %}
    <li>
        <a href="{{ settings.twitter }}" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    {% endif %}
    
    {% if settings.youtube %}
    <li>
        <a href="{{ settings.youtube }}" target="_blank">
            <i class="fa fa-youtube"></i>
        </a>
    </li>
    {% endif %}
    
    {% if settings.pinterest %}
    <li>
        <a href="{{ settings.pinterest }}" target="_blank">
            <i class="fa fa-pinterest"></i>
        </a>
    </li>
    {% endif %}
    
    {% if settings.instagram %}
    <li>
        <a href="{{ settings.instagram }}" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </li>
    {% endif %}
</ul>