/* ---------------------------------------------------------------------- */
/*	Settings for Cart
/* ---------------------------------------------------------------------- */

/*
*
	Carrinho Topo
*
*/

/* Preço */
$top-cart-price-color: #000000;
$top-cart-price-size: 21px;
$top-cart-price-bold: bold;

/* R$ */
$top-cart-abbr-color: #5E6672;
$top-cart-abbr-size: 12px;
$top-cart-abbr-bold: normal;

/* Quantidade */
$top-cart-qntd-color: #5E6672;
$top-cart-qntd-size: 10px;
$top-cart-qntd-bold: normal;

/*
*
	Página Carrinho - Tabela
*
*/

/* Título */
$page-cart-title-color:#000;
$page-cart-title-size:31px;
$page-cart-title-bold:bold;
$page-cart-title-text:'Meu Carrinho';

/* Table TH */
$page-cart-table-th-color:#5E6672;
$page-cart-table-th-size:16px;
$page-cart-table-th-bold:bold;
$page-cart-table-th-padding: 10px 5px;

/* Table TD */
$page-cart-table-td-color:#5E6672;
$page-cart-table-td-size:15px;
$page-cart-table-td-bold:normal;
$page-cart-table-td-padding: 30px 5px;
$page-cart-table-td-align: center;

/* Table Quantidade */
$page-cart-table-qtde-bg: transparent;
$page-cart-table-qtde-color: #5E6672;
$page-cart-table-qtde-size: 15px;
$page-cart-table-qtde-bold: normal;
$page-cart-table-qtde-radius: 6px;
$page-cart-table-qtde-width: 45px;
$page-cart-table-qtde-height: 32px;
$page-cart-table-qtde-border: 1px solid #000;

/* Table Valor */
$page-cart-table-valor-color:#5E6672;
$page-cart-table-valor-size:15px;
$page-cart-table-valor-bold:normal;
$page-cart-table-valor-padding: 0;
$page-cart-table-valor-margin: 0;
$page-cart-table-valor-align: center;

/* Table Nome do Produto */
$page-cart-table-title-color:#5E6672;
$page-cart-table-title-size:15px;
$page-cart-table-title-bold:bold;
$page-cart-table-title-padding: 0;
$page-cart-table-title-margin: 0 0 10px 0;
$page-cart-table-title-align: left;

/* Table Descrição do Produto */
$page-cart-table-desc-color:#5E6672;
$page-cart-table-desc-size:12px;
$page-cart-table-desc-line-height:15px;
$page-cart-table-desc-bold:normal;
$page-cart-table-desc-padding: 0;
$page-cart-table-desc-margin: 0 0 0 0;
$page-cart-table-desc-align: left;


/*
*
	Página Carrinho - Sidebar
*
*/

/* Sidebar Título */
$page-cart-sidebar-title-color:#fff;
$page-cart-sidebar-title-bg:#000;
$page-cart-sidebar-title-size:17px;
$page-cart-sidebar-title-line-height:32px;
$page-cart-sidebar-title-bold:bold;
$page-cart-sidebar-title-upper:uppercase;
$page-cart-sidebar-title-padding: 0;
$page-cart-sidebar-title-margin: 0 0 20px 0;
$page-cart-sidebar-title-align: center;

/* Sidebar Subtítulos */
$page-cart-sidebar-subtitle-color:#5E6672;
$page-cart-sidebar-subtitle-bg:transparent;
$page-cart-sidebar-subtitle-size:15px;
$page-cart-sidebar-subtitle-line-height:normal;
$page-cart-sidebar-subtitle-bold:bold;
$page-cart-sidebar-subtitle-upper:none;
$page-cart-sidebar-subtitle-padding: 0;
$page-cart-sidebar-subtitle-margin: 0 0 10px 0;
$page-cart-sidebar-subtitle-align: left;

/* Sidebar Total Text */
$page-cart-sidebar-total-text-color:#000;
$page-cart-sidebar-total-text-size:20px;
$page-cart-sidebar-total-text-bold:bold;
$page-cart-sidebar-total-text-margin:0;
$page-cart-sidebar-total-text-align:right;

/* Sidebar Total Valor */
$page-cart-sidebar-total-valor-color:#22B562;
$page-cart-sidebar-total-valor-size:24px;
$page-cart-sidebar-total-valor-bold:bold;
$page-cart-sidebar-total-valor-margin:0;
$page-cart-sidebar-total-valor-align:right;

/* Sidebar Frete Cupom Text */
$page-cart-sidebar-fretecupom-text-color:#5E6672;
$page-cart-sidebar-fretecupom-text-size:15px;
$page-cart-sidebar-fretecupom-text-bold:bold;
$page-cart-sidebar-fretecupom-text-margin:0;
$page-cart-sidebar-fretecupom-text-align:right;

/* Sidebar Frete Cupom Valor */
$page-cart-sidebar-fretecupom-valor-color:#5E6672;
$page-cart-sidebar-fretecupom-valor-size:15px;
$page-cart-sidebar-fretecupom-valor-bold:bold;
$page-cart-sidebar-fretecupom-valor-margin:0;
$page-cart-sidebar-fretecupom-valor-align:right;