/* ---------------------------------------------------------------------- */
/*	Settings for Banner
/* ---------------------------------------------------------------------- */
$fullbanner-height: 454px;
$fullbanner-bullets-width: 14px;
$fullbanner-bullets-height: 14px;
$fullbanner-bullets-color: #33CFDE;
$fullbanner-bullets-color-active: #FFDA00;
$fullbanner-bullets-radius: 50%;