/* ---------------------------------------------------------------------- */
/*	Settings for Base
/* ---------------------------------------------------------------------- */

/* Import Fonts | Font Awesome */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600,700|PT+Serif:400,700');

$ver: 9;

/* Cores Principais */
$black:#000000;
$gray:#eeeeee;

$primary-color:#5E6672; 	// Gray
$second-color:#FFDA00; 		// Yellow
$third-color:#33CFDE;		// Blue
$four-color:#E8ECEF;		// Gray Light
$five-color: #000000; 		// Black

/* Borda */
$border-color: #E8ECEF;
$hr-color:rgba(#5E6672, .2);

/* Fontes */
$font: 'Source Sans Pro', sans-serif;
$font2: 'PT Serif', serif;
$font-color: #5E6672;
$font-size: 1.4rem;
$font-small: 1.1rem;

/* Espaçamento */
$padding: 10px;

/* Logo Principal */
$logo-width: 185px;
$logo-height: 203px;
$logo-image: '../img/.png';

/* ---------------------------------------------------------------------- */
/*	Settings for Responsive
/* ---------------------------------------------------------------------- */
$large: 1200px;
$medium: 1199px;
$small: 991px;
$mobile: 767px;

$sm: 767px;
$md: 992px;