/* ---------------------------------------------------------------------- */
/*	Settings for Buttons
/* ---------------------------------------------------------------------- */

/* General Buttons */
$button-bg: #5E6672;
$button-radius: 5px;
$button-color: #fff;
$button-size: 15px;
$button-upper: uppercase;
$button-bold: bold;
$button-margin: 5px;
$button-padding: 0 15px;
$button-height: 30px;
$button-line-height: 30px;

$button-hover-bg: #33CFDE;
$button-hover-color: #fff;
$button-hover-radius: 5px;

/* Prosseguir Compra */
$button-prosseguir-bg: #22B562;
$button-prosseguir-radius: 5px;
$button-prosseguir-color: #FFFFFF;
$button-prosseguir-size: 20px;
$button-prosseguir-upper: uppercase;
$button-prosseguir-bold: bold;
$button-prosseguir-margin: 10px 0px;
$button-prosseguir-padding: 0;
$button-prosseguir-height: 65px;
$button-prosseguir-line-height: 65px;

$button-prosseguir-hover-bg: #33CFDE;
$button-prosseguir-hover-color: #fff;
$button-prosseguir-hover-radius: 5px;

/* Botões Login */
$button-login-bg: #5E6672;
$button-login-radius: 5px;
$button-login-color: #FFFFFF;
$button-login-size: 15px;
$button-login-upper: uppercase;
$button-login-bold: bold;
$button-login-margin: 10px 0px;
$button-login-padding: 0;
$button-login-height: 40px;
$button-login-line-height: 40px;

$button-login-hover-bg: #33CFDE;
$button-login-hover-color: #fff;
$button-login-hover-radius: 5px;

/* Botões Continuar comprando */
$button-continuar-bg: transparent;
$button-continuar-radius: 0;
$button-continuar-color: #5E6672;
$button-continuar-size: 14px;
$button-continuar-upper: none;
$button-continuar-bold: normal;
$button-continuar-margin: 10px 0px;
$button-continuar-padding: 0;
$button-continuar-height: 30px;
$button-continuar-line-height: 30px;

$button-continuar-hover-bg: transparent;
$button-continuar-hover-color: #33CFDE;
$button-continuar-hover-radius: 5px;

/* Botões Frete e Cupom no Carrinho */
$button-fc-bg: #5E6672;
$button-fc-radius: 5px;
$button-fc-color: #FFFFFF;
$button-fc-size: 10px;
$button-fc-upper: uppercase;
$button-fc-bold: bold;
$button-fc-margin: 0px 5px;
$button-fc-padding: 0 10px;
$button-fc-height: 32px;
$button-fc-line-height: 32px;

$button-fc-hover-bg: #33CFDE;
$button-fc-hover-color: #fff;
$button-fc-hover-radius: 5px;

/* Botões Simular Frete - Página Produto */
$button-simular-bg: #E8ECEF;
$button-simular-radius: 5px;
$button-simular-color: #5E6672;
$button-simular-size: 10px;
$button-simular-upper: uppercase;
$button-simular-bold: bold;
$button-simular-margin: 0px 5px;
$button-simular-padding: 0 10px;
$button-simular-height: 32px;
$button-simular-line-height: 32px;

$button-simular-hover-bg: #33CFDE;
$button-simular-hover-color: #fff;
$button-simular-hover-radius: 5px;

/* Botões Comprar - Página Produto */
$button-comprar-bg: #5E6672;
$button-comprar-radius: 5px;
$button-comprar-color: #ffffff;
$button-comprar-size: 18px;
$button-comprar-upper: uppercase;
$button-comprar-bold: bold;
$button-comprar-margin: 0px;
$button-comprar-padding: 0 30px;
$button-comprar-height: 51px;
$button-comprar-line-height: 51px;

$button-comprar-hover-bg: #33CFDE;
$button-comprar-hover-color: #fff;
$button-comprar-hover-radius: 5px;

/* Botões Comentários - Página Produto */
$button-comentario-bg: #B5BCC8;
$button-comentario-radius: 5px;
$button-comentario-color: #ffffff;
$button-comentario-size: 16px;
$button-comentario-upper: none;
$button-comentario-bold: bold;
$button-comentario-margin: 0px;
$button-comentario-padding: 0 30px;
$button-comentario-height: 40px;
$button-comentario-line-height: 40px;

$button-comentario-hover-bg: #33CFDE;
$button-comentario-hover-color: #fff;
$button-comentario-hover-radius: 5px;