/* ---------------------------------------------------------------------- */
/*	Settings for Tags
/* ---------------------------------------------------------------------- */
$tag-size: 10px;
$tag-upper: uppercase;
$tag-bold: bold;
$tag-color: #fff;
$tag-radius: 0;
$tag-padding: 3px 10px;

/* Frete Grátis */
$bg-shipping: #000;
$color-shipping: #ffffff;

/* Lançamentos */
$bg-new: #000;
$color-new: #ffffff;

/* Destaques */
$bg-featured: #000;
$color-featured: #ffffff;

/* Discount */
$tag-discount-bg: #ffffff;
$tag-discount-color: #000;
$tag-discount-shadow: 0 2px 10px rgba(0, 0, 0, .2);
$tag-discount-width: 42px;
$tag-discount-height: 42px;
$tag-discount-radius: 50%;
$tag-discount-size: 11px;
$tag-discount-size-wei: bold;
$tag-discount-off-size: 11px;
$tag-discount-off-wei: normal;