/* ---------------------------------------------------------------------- */
/*	Settings for Login
/* ---------------------------------------------------------------------- */
$page-login-bg: #fff;
$page-login-padding: 60px 0;

$page-login-input-bg: #E8ECEF;
$page-login-input-size: 15px;
$page-login-input-color: #5E6672;
$page-login-input-radius: 5px;
$page-login-input-border: 0px;

$page-login-input-icon-size: 15px;
$page-login-input-icon-color: #5E6672;

/* Caixa de Login */
$page-login-login-radius: 5px;
$page-login-login-bg: #E8ECEF;
$page-login-login-border: 0px;
$page-login-login-shadow: none;

$page-login-login-title-color: #5E6672;
$page-login-login-title-size: 21px;
$page-login-login-title-bold: bold;
$page-login-login-title-upper: none;

$page-login-login-text-color: #5E6672;
$page-login-login-text-size: 15px;
$page-login-login-text-bold: normal;
$page-login-login-text-upper: none;

/* Caixa de Cadastro */
$page-login-cadastro-radius: 5px;
$page-login-cadastro-bg: #fff;
$page-login-cadastro-border: 1px solid #E8ECEF;
$page-login-cadastro-shadow: none;

$page-login-cadastro-title-color: #5E6672;
$page-login-cadastro-title-size: 21px;
$page-login-cadastro-title-bold: bold;
$page-login-cadastro-title-upper: none;

$page-login-cadastro-text-color: #5E6672;
$page-login-cadastro-text-size: 15px;
$page-login-cadastro-text-bold: normal;
$page-login-cadastro-text-upper: none;