/* ---------------------------------------------------------------------- */
/*	Settings for Showcase
/* ---------------------------------------------------------------------- */
$showcase-title-color: #5E6672;
$showcase-title-size: 16px;
$showcase-title-upper: none;

$showcase-text-color: #5E6672;
$showcase-text-size: 16px;
$showcase-text-upper: none;