/* ---------------------------------------------------------------------- */
/*	Settings for Products
/* ---------------------------------------------------------------------- */

/* Product DIV */
$product-div-radius: 20px 20px 0 0;
$product-div-margin: 15px 0 30px 0;
$product-div-bg: #fff;

/* Product Imagem */
$product-image-bg: #fff;
$product-image-height: 265px;
$product-image-radius: 20px 20px 0 0;

/* Product Info */
$product-info-padding: 10px;
$product-info-color: #fff;

/* Título */
$product-title-color: #5E6672;
$product-title-size: 15px;
$product-title-upper: none;

/* Preço Por */
$product-price-color: #000000;
$product-price-size: 16px;
$product-price-decoration: normal;
$product-price-abbr-size: 12px;

/* Preço De */
$product-price-de-color: #000000;
$product-price-de-size: 16px;
$product-price-de-decoration: line-through;
$product-price-de-abbr-size: 12px;

/* Métodos de Pagamento */
$product-payment-color: #000000;
$product-payment-size: 16px;
$product-payment-bold: normal;

/* Parcelas */
$product-payment-parcel-color: #000000;
$product-payment-parcel-size: 16px;
$product-payment-parcel-bold: bold;