/* ---------------------------------------------------------------------- */
/*	Carousel
/* ---------------------------------------------------------------------- */
.carousel, .carousel-brand, .carousel-product{

	.jcarousel-container{
		position: relative;
		padding: 0 20px;
		margin: 30px 0;
	}

	.jcarousel-clip {
	    overflow: hidden;
	}

	.jcarousel-item {
		width: 145px;
		height: 52px;
		position: relative;
		text-align: center;
		overflow: hidden;
	}

	.jcarousel-next-horizontal, .jcarousel-prev-horizontal {
	    position: absolute;
	    top: 50%;
	    z-index: 12;
	    margin-top: -10px;
	    width: 20px;
	    height: 20px;
	    line-height: 20px;
	    text-align: center;
	    font-size: 16px;
	    color: $gray;
	    cursor: pointer;
	}

	.jcarousel-next-horizontal{
		right: 0;
	}
	
	.jcarousel-prev-horizontal{
	    left: 0;
	}

}

.carousel-product{
	.jcarousel-container{
		padding: 0;
		margin: 0;
	}

	.jcarousel-item {
		width: 285px;
		height: 390px;
		padding: 0 15px;
	}

	.jcarousel-next-horizontal, .jcarousel-prev-horizontal {
		top: 110px;
		height: 30px;
		width: 30px;
		font-size: 30px;
		line-height: 30px;
	}

	.jcarousel-next-horizontal{
		right: -30px;
	}
	
	.jcarousel-prev-horizontal{
	    left: -30px;
	}
}

.carousel-brand{
	.jcarousel-container{
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		padding: 20px 0;
	}
	.jcarousel-item {
		width: 126px;
		line-height: 65px;
		height: 65px;
		font-size: 0;

		img{
			max-width:110px;
			max-height:65px;
		}
	}
}