/* ---------------------------------------------------------------------- */
/*  Gallery Zoom Product
/* ---------------------------------------------------------------------- */
.gallery-zoom{

    #gallery-product{
      position: relative;
      text-align: center;
      padding: 0;
      margin-bottom: 40px;

      ul{
        position: relative;

        li{
          display: inline-block;
          padding: 0;
          text-align: center;

          a{
            display: block;
            width: 100px;
            height: 100px;
            line-height: 100px;
            overflow: hidden;
            font-size: 0;
            border: 1px solid $border-color;
            @include opacity(0.5);
          }
          .active{
            @include opacity(1);
          }
          img{
            max-height: 100%;
          }
        }
      }
    }

    .single-image{
      position: relative;
      width: 465px;
      height: 493px;
      line-height: 493px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      img{
        max-height: 100%;
      }
    }

    &:after{
      @include clearfix;
    }

}

.zoomContainer{
  z-index: 999;
}