.atendimento{
    position: relative;
    display: inline-block;
    vertical-align: middle;

    >p{
        color: $primary-color;
        @include rem2(13px);
        text-transform: uppercase;
        letter-spacing: 1px;

        i{
            margin-right: 5px;
        }
    }
    > div{
        display: none;
        position: absolute;
        z-index: 5;
        width: 390px;
        top: -3px;
        background: #fff;
        padding: 10px;
        border: 1px solid $border-color;

        h5{
            font-weight: bold;
            @include rem2(13px);
            margin-bottom: 20px;

            small{
                font-weight: normal;
                @include rem2(12px);
            }
        }

        li{
            display: inline-block;
            color: $five-color;
            vertical-align: top;
            @include rem2(13px);

            strong{
                display: block;
                color: #000;
                font-weight: bold;
                margin-bottom: 5px;
            }

            + li{
                margin-left: 30px;
            }
        }

        hr{
            margin: 20px 0 15px;
        }

        p{
            color: $primary-color;
            @include rem2(12px);
        }

        .btn{
            padding: 5px;
            background: #fff;
            color: $five-color;
            border: 1px solid #000;
            @include rem2(11px);
            @include border-radius(0);
        }

        .close{
            display: none;
        }
    }

    &:hover{
        >div{
            display: block;
        }
    }
}