/**
 * Banners
 */

 .flexslider{
   position: relative;
   font-size: 0;
   z-index: 900;
   margin-bottom: 50px;

   .slides{
     > li{
       height: $fullbanner-height;
       background-position: center center;
       background-repeat: no-repeat;
       @include background-size(cover);

       @media screen and (max-width: $medium){
         height: 350px;
       }

       a{
         display: block;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
         width: 100%;
         height: 100%;
       }
     }
   }

   .flex-control-paging{
     bottom: 15px;
     z-index: 999;
     li{
       margin: 0 3px;
       
       a{
       	 width: $fullbanner-bullets-width;
       	 height: $fullbanner-bullets-height;
         background: $fullbanner-bullets-color;
         @include box-shadow(none);
         @include border-radius($fullbanner-bullets-radius);
         @include transition;
       }

       a:hover, .flex-active{
         background: $fullbanner-bullets-color-active;
       }
     }
   }

 }

.banner{
    text-align: center;
    margin-bottom: 30px;
}

.banner-regua, .banner-extra3{
	margin-bottom: 50px;
}