// breadcrumb
.breadcrumb-text,
.breadcrumb-text + .icon-breadcrumb{
    display: none;
}

.breadcrumb{
    margin-bottom: 30px;
    padding: 0 15px;
    
    a, 
    .icon-breadcrumb{
        text-transform: uppercase;
        color: #9c9c9c;
        @include typo(1.4rem, 400, $font, 1.4rem);
    }
}

.breadcrumb-item{
    text-transform: uppercase;
    @include typo(1.4rem, 400, $font, 1.4rem);
    
    &:last-child{
        
        a{
            color: #c2a26f;    
        }
    }
}

.icon-breadcrumb{
    
    &:before{
        content: '/';
        padding: 0 3px;
    }
}

@media screen and (max-width: $small){
    .breadcrumb{
        text-align: center;
    }
}