.cart{
    display: inline-block;
    position: relative;
    width: 160px;

    .cart-icon{
        position: relative;
        float: left;
        padding-right: 15px;
        margin-right: 15px;
        margin-top: 4px;
        border-right: 1px solid $border-color;

        .cart-qtde{
            position: absolute;
            bottom: 2px;
            left: 2px;
            width: 17px;
            height: 13px;
            line-height: 13px;
            text-align: center;
            color: $top-cart-qntd-color;
            font-weight: $top-cart-qntd-bold;
            @include rem2($top-cart-qntd-size);
        }
    }

    .cart-total{
        text-align: left;

        .cart-price{
            display: block;
            color: $top-cart-price-color;
            font-weight: $top-cart-price-bold;
            @include rem2($top-cart-price-size);
            
            .cart-currency{
                display: inline-block;
                margin-right: 3px;
                vertical-align: bottom;
                color: $top-cart-abbr-color;
                font-weight: $top-cart-abbr-bold;
                @include rem2($top-cart-abbr-size);
            }
        }

        .cart-finalizar{
            display: block;
            letter-spacing: 1px;
            margin-top: 5px;
            text-transform: uppercase;
            text-decoration: underline;
            @include rem2(10px);
        }
    }

    &:hover{
    	text-decoration: none;
    }

    @include clearfix2;

    @media screen and (max-width: $medium){
        @include rem2(12px);

        .cart-total{
            @include rem2(14px);
        }
    }
}