.customer{
    li, a{
        color: $primary-color;
    }
    li{
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include rem2(13px);
        padding: 3px 15px;

        i{
            margin-right: 5px;
        }
    }

    li + li{
        border-left: 1px solid $border-color;
        border-color: rgba(#B8BFCB, .56);
    }
}