/* ---------------------------------------------------------------------- */
/*	Depoimentos - Exemplo: http://www.vixpescaesports.com.br/#NavVisitados
/* ---------------------------------------------------------------------- */
.depoimentos{
	> .dep_link{
		display: none;
	}
	.dep_lista{
		.dep_item{
			width: 50%;
			width: calc(100%/2);
			float: left;
			padding: 10px;

			ul{
				position: relative;
				display: block;
				background: #fff;
				list-style: none;
				padding: 20px;
			}

			.dep_nome{
				font-size: 20px;
				font-weight: bold;
				color: #173f6d;
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid #eee;
				span{
					display: none;
				}
			}

			.dep_data{
				position: absolute;
				right: 20px;
				top: 25px;
				font-weight: bold;
				span{
					font-weight: normal;
				}
			}

			.dep_nota{
				font-weight: bold;
				span{
					font-weight: normal;
				}
			}

			.dep_msg{
				margin-top: 10px;
				span{
					display: none;
				}
			}
		}

		&:after{
			@include clearfix;
		}
	}
}