/**
 * Newsletter
 */
.widget-news{
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
    
    h3{
        font-family: $font2;
        color: $third-color;
        font-weight: bold;
        @include rem2(21px);
        margin-bottom: 5px;
    }

    p{
        color: $primary-color;
        margin-bottom: 30px;
    }

    .group-form{
        position: relative;
        padding-left: 25px;
        border-bottom: 1px solid #979797;

        input, button{
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            border: 0;
            padding: 0;
        }

        input{
            width: 70%;
            background: #fff;
            color: $primary-color;
            font-style: italic;
            @include rem2(13px);
        }

        @include placeholder2($primary-color, 13px);

        button{
            float: right;
            text-transform: uppercase;
            font-weight: bold;
            @include rem2(13px);
            color: #000;
            background-color: transparent;
        }

        .ico-envelope{
            position: absolute;
            left: 0;
            top: 14px;
        }

        @include clearfix2;
    }

    @media screen and (max-width: $small){
        h3{
            margin-top: 5px;
            margin-bottom: 20px;
        }
    }
}