.product{
    position: relative;
    display: block;
    background: $product-div-bg;
    margin: $product-div-margin;
    @include border-radius($product-div-radius);

    a{
        display: block;
        @include border-radius($product-div-radius);
    }
        
    a,
    a:hover
    a:focus,
    a:active{
        outline: none;
        text-decoration: none;
    }

    .product-tags{
        position: absolute;
        z-index: 1;
        left: 0;
        top: 20px;
    }

    .tag-discount{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 5;
        padding-top: 10px;
    }
    
    .product-image{
        position: relative;
        font-size: 0;
        text-align: center;
        overflow: hidden;
        height: $product-image-height;
        background: $product-image-bg;
        @include border-radius($product-image-radius);
        
        img{
            position: absolute;
            max-width: 100%;
            vertical-align: middle;
            top: 50%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            @include transform(translateY(-50%));
        }

        @media screen and (max-width: $medium){
            height: 210px;
        }

        @media screen and (max-width: $small){
            height: auto;

            img{
                position: relative;
                top: 0;
                @include transform(translateY(0));
            }
        }
    }

    .product-info{
        padding: $product-info-padding;
        background: $product-info-color;
    }

    .showcase-product-name{
        position: relative;
        line-height: 20px;
        height: 42px;
        margin-bottom: 10px;
        color: $product-title-color;
        @include rem2($product-title-size);
        text-transform: $product-title-upper;

        &:after{
            content:'';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 30px;
            height: 1px;
            background: #B8BFCB;
        }
    }
    
    .product-price{
        display: block;
        position: relative;
        padding-bottom: 3px;

        .price-normal{
            color: $product-price-de-color;
            @include rem2($product-price-de-size);
            text-decoration: $product-price-de-decoration;

            .currency{
                @include rem2($product-price-de-abbr-size);
            }
        }

        .price-promotion,
        .price-max{
            color: $product-price-color;
            @include rem2($product-price-size);
            text-decoration: $product-price-decoration;

            .currency{
                @include rem2($product-price-abbr-size);
            }
        }

        .price-max{
            margin-left: 15px;
        }

        .price-normal,
        .price-promotion,
        .price-max{
            display: inline-block;
            vertical-align: middle;

            span{
                display: inline-block;
                vertical-align: bottom;
                color: $primary-color;
                @include rem2(10px);
                margin-right: 4px;
            }
        }
    
    }
    
    .product-payment{
        display: block;
        height: auto;
        overflow: hidden;
        color: $product-payment-color;
        font-weight: $product-payment-bold;
        @include rem2($product-payment-size);
        
        > br:first-child{
            display: none;
        }
        
        span,
        strong{
            color: $product-payment-parcel-color;
            @include rem2($product-payment-parcel-size);
            font-weight: $product-payment-parcel-bold;
        }
    }

    .button-comprar{
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        padding: 4px 6px;
        @include rem2(11px);
        border: 1px solid #000;
        @include border-radius(0);
        @include opacity(0);
        @include transition(opacity);

        @media screen and (max-width: $medium){
            position: relative;
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        @media screen and (max-width: $small){
            @include opacity(1);
        }
    }

    a:hover,
    a:focus{
        @include box-shadow(0 2px 4px #E8ECEF);

        .button-comprar{
            @include opacity(1);
        }
    }
}