/**
 * Search
 */

.search{
    width: 100%;
    max-width: 160px;
    
    .group{
        position: relative;
        line-height: 25px;
        padding: 0;
        background: #fff;
        border-bottom: 1px solid #979797;

        &:after{
            @include clearfix;
        }
    }
    
    .search-button{
        float: right;
        padding: 0;
        margin: 0;
        color: $five-color;
        background: transparent;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        @include rem2(13px);
        border: 0;
        @include transition;

        &:hover{
            color: $second-color;
        }
    }
    
    .search-key{
        width: 85%;
        height: 25px;
        padding: 0;
        margin: 0;
        line-height: normal;
        font-style: italic;
        color: $primary-color;
        @include rem2(13px);
        border: 0;
    }

    @include placeholder2($primary-color, 13px);

    i{
        position: absolute;
        left: -25px;
        top: 8px;
    }

    @media screen and (max-width: $small){
        text-align: left;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        border-bottom: 1px solid $border-color;
        

        .group{
            padding: 0;
            border: 0;
            @include border-radius(0);
        }

        .search-button{
            background: $second-color;
            color: #fff;
            border: 0;
            line-height: 42px;
            width: 42px;
            height: 42px;
            font-size: 0;

            &:after{
                content:"\f002";
                font:normal normal normal 14px/1 FontAwesome;
                @include rem2(16px);
                color: #fff;
                vertical-align: middle;
            }
        }

        .search-key{
            line-height: 42px;
            height: 42px;
            padding-left: 20px;
        }

        i{
            display: none;
        }
    }
}