/**
 * Showcase
 */
.showcase{
    margin-bottom: 50px;
    
    .showcase-title{
        position: relative;
        text-align: center;
        margin-bottom: 40px;

        @media screen and (max-width: $small){
            margin-bottom: 20px;
        }

        h3{
            color: $showcase-title-color;
            @include rem2($showcase-title-size);
            text-transform: $showcase-title-upper;
            margin-bottom: 15px;

            span{
                position: relative;
                z-index: 2;
                display: inline-block;
                background: #fff;
                padding: 0 20px;
            }

            &:before{
                content:'';
                position: absolute;
                left: 0;
                right: 0;
                top: 10px;
                z-index: 1;
                display: block;
                width: 100%;
                height: 1px;
                background: $hr-color;
            }
        }

        p{
            color: $showcase-title-color;
            @include rem2($showcase-title-size);
            text-transform: $showcase-title-upper;
        }
    }

    .showmore{
        margin-top: 30px;
        text-align: center;
        a{
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            @include rem2(12px);
            color: $five-color;
            
            &:hover{
                text-decoration: none;
                color: $second-color;
            }
        }
    }

    .owl-carousel{
        .owl-item{
            > div{
                padding: 15px 10px;
            }
        }
        .owl-controls{

          .owl-prev, .owl-next{
            top: 39%;
          }
          
        }
    }

    @media screen and (max-width: $medium){
        padding: 0 10px;
    }

    @media screen and (max-width: $small){
        .carousel-product{
            height: auto;
        }
    }
}

.showcase-widget-1{
    h3{
        position: relative;
        letter-spacing: 3px;
        color: #000;
        @include rem2(32px);
        padding-left: 20px;
        margin-bottom: 30px;

        &:before{
            content:'';
            position: absolute;
            width: 1px;
            height: 92px;
            bottom: 0;
            left: 0;
            background: #B8BFCB;
            background: rgba(#B8BFCB, .41);
        }
    }

    .product{
        background-color: transparent;

        a:hover,
        a:focus{
            @include box-shadow(none);
        }

        .product-tags{
            display: none;
        }

        .product-image{
            float: left;
            width: 47%;
            background-color: transparent;
            @include border-radius(20px);
            @include box-shadow(-7px 17px 24px rgba(#B5BCC8, .57));
        }

        .product-info{
            float: right;
            width: 50%;
            background-color: transparent;
            padding: 40px 0 0 0;
        }

        @media screen and (max-width: $small){
            .product-image, .product-info{
                float: none;
                width: 100%;
                padding: 0;
            }

            .product-image{
                margin-bottom: 20px;
            }
        }

        .product-price{
            .price-normal,
            .price-promotion,
            .price-max{
                span{
                    display: none;
                }
            }
        }

        .showcase-description-small{
            color: $primary-color;
            line-height: 20px;
            margin-bottom: 20px;
        }

        .showcase-product-name{
            color: #000;
            height: auto;
            padding: 15px 0;
            margin-bottom: 15px;
            @include rem2(15px);
            line-height: normal;
            border-bottom: 1px solid #B8BFCB;
            border-top: 1px solid #B8BFCB;

            &:after{
                display: none;
            }
        }

        .button-comprar{
            @include opacity(1);
        }
    }

    @media screen and (max-width: $small){
        .col-md-6 + .col-md-6{
            margin-top: 40px;
        }
    }
}