/**
 * Smart Filter
 */

.smart-filter{
	h3{
		color: $primary-color;
		@include rem2(30px);
		margin-bottom: 40px;
	}

	h4{
		font-weight: bold;
		@include rem2(15px);
		margin-bottom: 20px;
	}

	.filters-list{
		ul{
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: 1px solid $border-color;
			

			li{
				a{
					display: block;
					padding: 5px 0;
					color: $primary-color;
					color: rgba($primary-color, .53);
					@include rem2(15px);

					&:hover, &.current{
						font-weight: bold;
						color: $second-color;
					}

					&:hover{
						.filter-checkbox{
						    border: 2px solid $second-color;
						    &:before{
							    content:'';
							    display: block;
							    width: 100%;
							    height: 100%;
							    background: $second-color;
							    @include border-radius(50%);
						    }
						}
					}
				}
			}
		}

		.filter-checkbox{
		    display: inline-block;
		    position: relative;
		    vertical-align: middle;
		    width: 15px;
		    height: 15px;
		    padding: 2px;
		    margin-right: 5px;
		    border: 1px solid $border-color;
		    @include border-radius(50%);
		    
		    &.checked{
		    	border: 2px solid $second-color;

		    	&:before{
			        content:'';
			        display: block;
			        width: 100%;
			        height: 100%;
			        background: $second-color;
			        @include border-radius(50%);
		    	}
		    }
		}
	}
}