/* ---------------------------------------------------------------------- */
/*  Redes Sociais
/* ---------------------------------------------------------------------- */
.social-list{
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid $border-color;
    border-color: rgba(#B8BFCB, .56);
    
    li{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;

        a{
            display: block;
            color: #B5BCC8;
            @include rem2(15px);

            &:hover{
                text-decoration: none;
            }

            img{
                vertical-align: top;
            }
        }
    }

    li + li{
        margin-left:15px;
    }
}