{% if pages.current != 'checkout_cart' %}
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 clearfix">
                <i class="ico ico--2"></i>
                <p>{{ Translation('ag_mensagem_rodape')|nl2br }}</p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-xs-12 border-left">
                {% element 'snippets/newsletter' %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<footer class="footer" role="contentinfo">
    <div class="mid-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <nav class="navbar-footer">
                        <ul>
                            <li><a href="{{ links.contact }}">Fale Conosco</a></li>
                            <li><a href="{{ links.orders_return }}">Troca e Devolução</a></li>
                            <li><a href="{{ links.orders }}">Meus Pedidos</a></li>
                        </ul>

                        <ul>
                            <li><a href="{{ links.payment }}">Pagamento e Envio</a></li>
                            <li><a href="{{ links.orders_tracking }}">Rastrear Pedido</a></li>
                            <li><a href="{{ links.security }}">Segurança</a></li>
                        </ul>

                        <ul>
                            <li><a href="{{ links.company }}">Sobre a Empresa</a></li>
                            <li><a href="{{ links.info_buy }}">Como Comprar</a></li>
                            <li><a href="{{ links.warranty }}">Garantia</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-7 col-xs-12 text-right">
                    {% element 'snippets/payment-list' %}
                    <a href="#" class="google-safe" target="_blank">
                        <img src="{{ asset('img/google-safe-browsing.png') }}" alt="Google Safe Browsing">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pos-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    Copyright &copy; Todos os direitos reservados
                </div>
            </div>
        </div>
    </div>
</footer>