<header class="header" role="header">
    <div class="pre-header">
        <div class="customer" data-tray-tst="saudacao">
            <span class="tray-hide" data-logged-user="true">
                <a href="{{ links.orders }}" data-tray-tst="meus_pedidos">Meus pedidos</a> |
                <a href="{{ links.central }}" data-tray-tst="meu_cadastro">Minha conta</a> |
                <a href="{{ links.logout }}">Logout</a>
            </span>
            <span class="tray-hide" data-logged-user="false">
                <a href="{{ links.login }}" data-tray-tst="login">Entrar</a> | <a href="{{ links.register }}" data-tray-tst="cadastro">Cadastre-se</a>
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ links.home }}" class="site-logo" data-tray-tst="logotipo_loja">{{ store.name }}</a>
            </div>
        </div>
    </div>
    <div class="pos-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <button class="trigger-menu">
                        <i class="fa fa-bars"></i> Menu
                    </button>
                </div>
                <div class="col-xs-6">
                    <a href="{{ links.cart }}" class="trigger-cart" data-tray-tst="link_qtde_carrinho">
                        <i class="fa fa-shopping-cart"></i> Carrinho
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% element 'snippets/search' %}
</header>