<header class="header" role="header">
    <div class="header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    {% element 'snippets/social-list' {
                        'showname': false
                    } %}
                    <div class="atendimento">
                        <p><i class="ico ico-chat"></i> Atendimento</p>
                        <div>
                            <span class="close"><i class="ico ico-close"></i></span>
                            <h5>Canais de Atendimento | <small>{{ Translation('ag_atendimento') }}</small></h5>
                            <ul>
                                <li>
                                    <strong>Telefone:</strong> {{ Translation('ag_telefone_1') }}
                                </li>
                                <li>
                                    <strong>Email:</strong> {{ Translation('ag_email_1') }}
                                </li>
                            </ul>
                            <hr>
                            <p>Ou se preferir, envie uma mensagem para gente! <a href="{{ links.contact }}" class="btn">Enviar Mensagem</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 text-right">
                    {% element 'snippets/customer' %}
                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    {% element 'snippets/search' %}
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <a href="{{ links.home }}" class="site-logo" data-tray-tst="logotipo_loja">{{ store.name }}</a>
                </div>
                <div class="col-md-4 col-xs-12 text-right">
                    {% element 'snippets/cart' %}
                </div>
            </div>
        </div>
    </div>
</header>
{% element 'snippets/menu' %}