{% if products|length > 0 %}
<div class="showcase" data-tray-tst="vitrine_home">
{% if columns == 4 %}
    {% set class = 'col-md-3 col-sm-6 col-xs-12' %}
    {% set divide = 4 %}
{% else %}
    {% set class = 'col-md-4 col-sm-6 col-xs-12' %}
    {% set divide = 3 %}
{% endif %}

{% set class = classel ? classel : class %}

    {% if showcaseTitle %}
        <div class="showcase-title">
            <h3><span>{{ showcaseTitle }}</span></h3>
            {% if showcaseDesc %}
            <p>{{ showcaseDesc }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="{{ carousel }}">

        {% if not carousel %}
        <div class="row">
        {% endif %}
            
            {% for product in products %}

                {% if not carousel %}
                <div class="{{ class }} grid gl" data-tray-tst="vitrine_produto">
                {% endif %}

                    <div>
                        {% element 'snippets/product' {"product": product} %}
                    </div>

                {% if not carousel %}
                </div>
                {% endif %}

                {% if not carousel %}
                    {% if loop.index is divisible by(divide) %}
                        </div><div class="row">
                    {% endif %}
                {% endif %}

            {% endfor %}

        {% if not carousel %}
        </div>
        {% endif %}

    </div>

    {% if showmore %}
    <p class="showmore">
        <a href="{{ showmore }}">{{ showmoretext }}</a>
    </p>
    {% endif %}
</div>
{% endif %}