<aside class="sidebar col-md-3 hidden-xs">

    {% if products|length > 0 and pages.current in ['catalog', 'search'] %}
        {% if filters %}
            {% element 'smart-filter' %}
        {% endif %}

        <div class="widget-categories widget-sidebar navbar-categorie-side">
            <h4><span>Todas as categorias</span></h4>
            {% element 'snippets/categories_list' %}
        </div>

    {% endif %}
    
    {% if banner.side %}
    <div class="banner banner-sidebar">
        {{ banner.side }}
    </div>
    {% endif %}
    
</aside>