/* ---------------------------------------------------------------------- */
/*	Base Elements
/* ---------------------------------------------------------------------- */
*{
  @include border-box;
}

// REM Adjust
html{
	font-size: 62.5%;
}

body{
	color:$font-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	background-color: #fff;
	@include typo($font-size, 400, $font, 1);
}

input, select, textarea, button{
	font-family:$font;
	color:$font-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

// adaptive images
img{
	vertical-align: middle;
	height: auto;
	max-width: 100%;
}

figure{
	padding: 0;
	margin: 0;
}

hr{
	height: 1px;
	background: $border-color;
	margin: 15px 0;
	border: 0;
}