/**
 * Typography
 */

a{
    color: $primary-color;
    @include transition;

    &:hover{
    	color: $third-color;
    }
}

h1,
h2,
h3, 
h4,
h5,
h6 {
    font-family: $font;
    font-weight: normal;
} 