/* ---------------------------------------------------------------------- */
/*  Footer
/* ---------------------------------------------------------------------- */
.footer{
    background: #F5F7F8 !important;

    @media screen and (max-width: $small){
        margin-bottom: 0;
    }
}

.pre-footer{
    margin-top: 40px;
    padding: 70px 0;
    border-top: 1px solid $border-color;

    .ico--2{
        float: left;
        margin-right: 20px;

        + p{
            margin-top: 10px;
            line-height: 20px;
        }
    }

    .border-left{
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 1px solid $border-color;
    }

    @media screen and (max-width: $small){
        padding: 40px 0;

        .ico--2{
            float: none;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
        }

        .border-left{
            border-left: 0;
        }
    }
}

.mid-footer{
    padding: 40px 0;

    .navbar-footer{
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;

        @media screen and (max-width: $small){
            display: none;
        }

        ul{
            padding: 0 20px;

            @media screen and (max-width: $medium){
                padding: 0 6px;
            }

            li{
                a{
                    display: block;
                    padding: 10px 0;
                }
            }
        }
    }

    .payment-list, .google-safe{
        display: inline-block;
        vertical-align: middle;
    }

    @media screen and (max-width: $small){
        .google-safe{
            display: block;
            margin-top: 30px;
            text-align: center;
        }
    }

    .payment-list{
        margin-right: 30px;
        width: 490px;
        li{
            display: inline-block;
            vertical-align: top;
            margin: 5px 14px;
            padding: 6px;
            background: #fff;
            @include border-radius(3px);
            @include box-shadow(0 6px 17px rgba(#010031, .12));
        }

        @media screen and (max-width: $medium){
            width: 400px;

            li{
                margin: 5px 7px;
            }
        }

        @media screen and (max-width: $small){
            width: 100%;
            display: block;
            margin: 0;
            text-align: center;
        }
    }
}

.pos-footer{
    padding: 20px 0;
    background: #E8ECEF;
    text-align: center;
    color: $primary-color;
    @include rem2(12px);
}


.foo-message{
    color: #fff;
    margin-top: 30px;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid $border-color;
    
    @include rem(font-size, 11px);

    @media screen and (max-width: $small){
        padding: 15px;
        line-height: 18px;
    }
}

.timelogotray{
    font-size: 0;
}

#NavLogoTray, .foo-credits{
    background: #ccc;
    text-align: center;
}

.trespix{
    text-transform: uppercase;
    color: #666666;
    font: bold 9px/20px Verdana,sans-serif!important;
}

@media screen and (max-width: $small){
    .foo-credits{
        .text-right{
            text-align: center;
        }
    }
}