/* ---------------------------------------------------------------------- */
/*  Header
/* ---------------------------------------------------------------------- */
.header{
	padding-bottom: 15px;
	.site-logo {
	    display: inline-block;
	    overflow: hidden;
	    width: 100%;
	    max-width: $logo-width;
	    height: $logo-height;
	    font-size: 0;
	    margin-top: -20px;
	    text-indent: -9999px;
	    background-image: url($logo-image);
	    background-repeat: no-repeat;
	    background-position: center center;
	    @include background-size(contain);

	    &:hover,
	    &:active {
	        text-decoration: none;
	    }
	}

	.search, .cart{
		margin-top: 80px;
	}
}

.header-top{
	padding-top: 15px;
	background: url(../img/bg-topo.png) top center repeat-x;
}

@media screen and (max-width: $small){
	.header{
		background: #fff;
		text-align: center;

		.site-logo{
			margin-top: 0;
		}

		> .container{
			background: #fff;
			padding-top: 10px;
			padding-bottom: 10px;
			@include box-shadow(none);
		}

		.pre-header, .pos-header{
			color: #fff;
			background: $primary-color;
			text-align: center;

			a{
				color: #fff !important;
			}
		}

		.pre-header{
			padding: 10px 0;
			text-transform: uppercase;

			a{
				font-weight: bold;
			}
		}

		.pos-header{
			.col-xs-6 + .col-xs-6{
				border-left: 1px solid rgba(255, 255, 255, .3);
			}
		}

		.trigger-menu, .trigger-cart{
			display: block;
			background: $primary-color;
			border: none;
			height: 25px;
			margin: 10px 0;
			padding: 0;
			width: 100%;
			color: #fff;
			font-weight: 700;
			text-align: center;
			line-height: 25px;
		}

		.search{
			margin-top: 0;
			margin-right: 0;
			max-width: 100%;
		}
	}
}