/* ---------------------------------------------------------------------- */
/*	Navbars
/* ---------------------------------------------------------------------- */
.navbar{
	list-style: none;
	li{
		display: inline-block;
	}
}

.navbar-sub{
	display: none;
}

.navbar-categorie{
	> ul{
		> li{
			> a{

				&:hover{
					.navbar-sub{
						display: block;
					}
				}
			}
		}
	}
}

.main-menu{
	background: #fff;
	margin-bottom: 30px;

	> .container{
		border-top: 1px solid $border-color;
	}

	.submenu{
		@include clearfix2;
	}

	.level2{
		display: none;
		position: absolute;
		z-index: 999;
		left: 50%;
		top: 53px;
		width: 295px;
		padding: 10px;
		background: #fff;
		@include box-shadow(0 30px 18px rgba(#5E6672, 0.38));
		@include transform(translateX(-50%));

		&:before{
			content:'';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: -8px;
			margin-left: auto;
			margin-right: auto;
			@include triangle(top, #E8ECEF, 8px, 10px, 10px);
		}

		ul{
			position: relative;
			text-align: left;
			font-size: 0;

			&:before{
				content:'';
				display: block;
				width: 1px;
				height: 100%;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				margin: 0 auto;
				background: $border-color;
			}
		}

		.item-level2{
			display: inline-block;
			width: 50%;
			vertical-align: top;

			> a{
				display: block;
				font-weight: normal;
				@include rem2(15px);
				color: #717A85;
				text-align: center;
				padding: 10px 0;

				&:hover{
					text-decoration: none;
				}
			}
		}

		.submenu{
			position: relative;
			z-index: 1;
		}		
	}

	.level1{
		font-size: 0;
		text-align: center;
		> li{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding: 0;
			
			> a{
				display: block;
				height: 54px;
				line-height: 54px;
				padding: 0 10px;
				font-weight: normal;
				text-transform: uppercase;
				@include rem2(15px);
				color: $primary-color;

				&:hover{
					font-weight: bold;
					color: $primary-color;
					text-decoration: underline;
				}

				&:after{
				    display:block;
				    content:attr(title);
				    font-weight:bold;
				    height:1px;
				    color:transparent;
				    overflow:hidden;
				    visibility:hidden;
				    margin-bottom:-1px;
				}
			}

			&:hover{
				.level2{
					display: block;
				}
			}
		}
	}
}