/* ---------------------------------------------------------------------- */
/*	Mobile
/* ---------------------------------------------------------------------- */
@media (max-width: 1199px){
	.carousel-product{
		.jcarousel-item{
			width: 310px;
		}
	}
}

@media (max-width: 767px){
	.hidden-xs{
		display: none !important;
	}
	.row{
		margin-left: -5px;
		margin-right: -5px;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		margin: 0 !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.mobile-header{
		position: relative;
		height: auto;
		text-align: center;
		padding: 10px 0;
		background: $third-color;
		border-bottom: 2px solid $second-color;

		> .container{
			margin-top: 0;
		}
		.mobile-logo{
			display: block;
			overflow: hidden;
			width: 100%;
			font-size: 0;
			text-align: center;

			img{
				display: inline-block;
				max-width:100%;
			}

			&:hover,
			&:active {
				text-decoration: none;
			}
		}

		.frm-search{
			margin-bottom: 10px;
			vertical-align: top;
			input, button{
				vertical-align: top;
			}
		}

		.bar{
			text-align: center;
			> a{
				vertical-align: top;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 36px;
				background: $second-color;
				color: #fff !important;
				text-align: center;
				font-size: 23px;
				@include border-radius(5px);	
			}
		}
		#mobile-menu{
			position: relative;
			vertical-align: top;
			display: inline-block;
			span {
				display: block;
				margin: 0 auto;
				width: 100px;
				color: #fff;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
				line-height: 40px;
				position: relative;
				z-index: 0;
				background: $second-color;
				cursor: pointer;
				@include border-radius(5px);

				i{
					margin-right: 5px;
				}
			}
			select {
				width: 100%;
				display: block;
				opacity: 0;
				width: 100%;
				height: 40px;
				cursor: pointer;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				-webkit-appearance: initial;
			}
		}

	}

	footer{
		margin-bottom: 10px;

		a{
			color: #7b7b7b !important;
		}

		.nav-pages{}
	}

	
	.container{
		margin-top: 0 !important;
	}

	.bt-avancar, .bt-continuar-comprando{
		img{
			display: block !important;
		}
	}

	.carrinho-tabs ol{
		&:after{
			@include clearfix;
		}
	}

	.carrinho-tabs li, .carrinho-tabs ol, .board .caixa-login, .board .caixa-cadastro{
		width: 100% !important;
		display: block;
		margin: 10px 0 !important;
		padding: 0 !important;
	}

	.carrinho-tabs li{
		width: 50% !important;
	}
}