.sidebar{
    position: relative;
    z-index: 10;

    > h3{
        color: $primary-color;
        @include rem2(30px);
        margin-bottom: 40px;
    }
}

.widget-sidebar{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-color;

    h4{
        position: relative;
        color: $primary-color;
        @include rem(font-size, 16px);
        font-weight: bold;
        margin-bottom: 15px;
    }

    > ul{

        > li{
            a, label, span{
                display: inline-block;
                @include rem(font-size, 14px);
                color: #8d8d8d;
                padding: 4px 0;
                cursor: pointer;
                @include transition(color);

                span{
                    padding: 0;
                    margin: 0;
                }

                &:hover{
                    text-decoration: none;
                    color: $primary-color;
                }         
            }

            label{
                display: block;

                a{
                    padding: 0;
                }
            }

            &.open{
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;

                span:last-child{
                    display: none;
                }
            }

            &.closed{
                display: none;
            }

            &.js-hide{
                span:first-child{
                    display: none;
                }

                span:last-child{
                    display: block;
                }
            }

            &:last-child{
                border-bottom: 0;
            }
        }
    }

    .navbar-sub{
        display: none;
    }

}

.widget-sidebar + .widget-sidebar{
    margin-top: 20px;
}

.btn-filter{
    display: block;
    width: 100%;
    padding: 8px 10px 11px 10px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: $primary-color;
    border: 0;
    @include border-radius(5px);
    @include box-shadow(inset 0 -3px 0 rgba(0, 0, 0, 0.1));

    &:hover{
        color: #fff;
    }
}

.btn-clear{
    background: #8e8e8e;
}

.navbar-categorie-side{
    padding-bottom: 0;
    border-bottom: 0;

    > ul{
        max-height: none;
        
        > li{
            position: relative;
            > a{
                display: block;
                margin-right: 30px;
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
                vertical-align: middle;

                &:hover{
                    color: $primary-color;
                    text-decoration: none;
                }
            }

            i{
                color: $primary-color;
                position: absolute;
                right: 10px;
                top: 6px;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }

    .subnav{
        display: none;
        > li{
            position: relative;
            padding: 5px 10px;
            vertical-align: middle;
            line-height: normal;
            a{
                display: inline-block;
                color: #797979;
                font-weight: normal;
                font-size: 13px;

                &:hover{
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }

        ul{
            margin-left: 10px;
        }
    }
}