{% spaceless %}
<!doctype html>
<html lang="pt-br" data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ tray.meta }}
    {{ tray.styles }}
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    {{ tray.scripts }}
    {{ tray.analytics }}
    {{ googleTagManager.header(pages.current, tagManagerData) }}
</head>
<body>
    {{ googleTagManager.top(pages.current, tagManagerData) }}
    
    {% element 'snippets/messages' %}
    
    {% if utils.is_mobile %}
        {% element 'snippets/menu-mobile' %}
        {% element 'header-mobile' %}
    {% else %}
        {% element 'header' %}
    {% endif %}
    
    {% if pages.current in ["home", "product", "catalog", "search"] %}
        {{ content_for_layout }}
    {% else %}
    <main class="site-main" role="main">
        <div class="container">
            <div class="row">                    
                {% if pages.current in ['central'] or 'central_' in pages.current %}

                    {% if "central" in pages.current %}
                        {% element 'sidebar-central' %}
                    {% else %}
                        {% element 'sidebar-left' %}
                    {% endif %}                
                    <section class="page-content col-md-9 col-xs-12">
                        {{ content_for_layout }}
                    </section>

                {% else %}
                <section class="page-content col-xs-12">
                    {{ content_for_layout }}
                </section>
                {% endif %}
            </div>
        </div>
    </main>
    {% endif %}
         
    {% element 'footer' %}
    
    <div class="foo-credits">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    {% element 'snippets/credits' %} 
                </div>
                <div class="col-md-6 col-xs-12">
                    <a href="#" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>

    {% element 'snippets/modal' %}
    {{ tray.scripts }}
    {{
            html.script({
                '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
                '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
            })
    }}    
    {% element 'snippets/pageview' %}
    {{ store.chat }}
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}

    {% if pages.current == 'home' %}
        <script src="{{ asset('js/flexslider/jquery.flexslider-min.js') }}"></script>
    {% elseif pages.current == 'product' %}
        <script src="{{ asset('js/fancybox/jquery.fancybox.js') }}"></script>
    {% endif %}

    <script src="{{ asset('js/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/theme.min.js') }}"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=151228084955574";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
{% endspaceless %}