<style>
    #form-content {
        background: #f7f7f7 !important;
    }
    
    #form-content .form-group{
        background: #fff;
    }
    
    #help-content{
        display: none;
    }
    
    .space-title{
        margin-bottom: 15px;
        font-size: 13px;
    }
    
    .panel-group .panel-heading {
        background: #f7f7f7;
    }
    
    .panel-group .panel-heading a{
        color: #000;
    }

    .form-group h2 i{
        float: left;
        margin-right: 15px;
    }
    
    .form-group h2 b{
        color: #000;
        line-height: 40px;
    }

    .structures h4{
        text-align: center;
    }
    
    .structures label{
        display: block;
        text-align: center;
    }
    
    .structures label:hover,
    .structures input:hover{
        cursor: pointer;
    }
    
    .structures img{
        display: block;
        margin: 0 auto;
    }
    
    .remove-bg{
        cursor: pointer;
    }

    .input-group .form-control{
        width: 100%;
    }
    
    .row-social .input-group-addon{
        line-height: 18px;
        text-align: left;
        width: 145px;
    }
    
    .row-social .input-group-addon svg{
        display: inline-block;
        border-radius: 3px;
        vertical-align: top;
    }
    
    radio, label{
        font-size: 1.5rem;
    }
    .table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
    }

    .table *{
        -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
        -webkit-text-size-adjust: 100%;
    }

    .table td{
        padding: 10px;
        font-size: 14px;
        text-align: left;
        border: 1px solid #e1e1e1;
        text-transform: none;
        color: #3d3d3d;
    }

    .table .bg-even, .table th{
        width: 20%;
        line-height: 30px;
        background-color: #f6f6f6;
        color: #626262;
        text-align: right;
        vertical-align: top;
    }

    .table th{
        text-align: left;
        border: 1px solid #e1e1e1;
    }

    .table .input{
        width: 100%;
    }
</style>

<script>
    jQuery(".collapse-title").click(function(){
        $(this).parents(".panel-heading").siblings(".collapse-content").slideToggle();
    });

    (function($){
        $('.remove-img').click(function(){
            $(this).parents('.file').find('img').remove();
            $(this).parents('.file').find(':hidden').val('');
            return false;
        });
    }(jQuery));   
</script>

<fieldset>
    <input type="hidden" name="extension_id">

    <!-- Configurações Gerais -->
    <div class="form-group">
        <h2>
            Configurações Gerais
        </h2>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group" style="margin: 5px 0;">
                    <label>Menu - Quantidade de Categorias</label>
                    <input name="menu_quantidade" id="menu_quantidade" placeholder="" class="form-control" type="text">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group" style="margin: 5px 0;">
                    <label>Home - Categoria do último bloco</label>
                    <input name="home_category_last" id="home_category_last" placeholder="" class="form-control" type="text">
                    <span class="help-block">ID das categorias separadas por vírgula. Máximo de 2 categorias</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->
    <div class="form-group">
        <h2>
            Newsletter
        </h2>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group" style="margin: 5px 0;">
                    <label>Título</label>
                    <input name="newsletter_title" id="newsletter_title" placeholder="" class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin: 5px 0;">
                    <label>Texto</label>
                    <input name="newsletter_text" id="newsletter_text" placeholder="" class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>

    <!-- REDES SOCIAIS -->
    <div class="form-group">
        <h2>
            Redes Sociais
        </h2>
        <p>Insira o link referente ao perfil da sua loja nas redes sociais.</p>
        <hr>
        <div class="row">
            <div class="col-sm-12">

                <div class="input-group col-sm-6" style="margin: 5px 0;">
                    <span>Facebook</span>
                    <input name="facebook" id="facebook" placeholder="Facebook" class="form-control" type="text">
                </div>

                 <!--YOUTUBE -->
                <div class="input-group col-sm-6" style="margin: 5px 0;">
                    <span>Youtube</span>
                    <input name="youtube" id="youtube" placeholder="Youtube" class="form-control" type="text">
                </div>

                 <!--INSTAGRAM -->
                <div class="input-group col-sm-6" style="margin: 5px 0;">
                    <span>Instagram</span>
                    <input name="instagram" id="instagram" placeholder="Instagram" class="form-control" type="text">
                </div>

                 <!--TWITTER-->
                <div class="input-group col-sm-6" style="margin: 5px 0;">
                    <span>Twitter</span>
                    <input name="twitter" id="twitter" placeholder="Twitter" class="form-control" type="text">
                </div>

                  <!--GOOGLE PLUS -->
                 <div class="input-group col-sm-6" style="margin: 5px 0;">
                    <span>Google+</span>
                     <input name="googleplus" id="googleplus" placeholder="Google Plus" class="form-control" type="text">
                 </div>

                  <!-- MY SPACE -->
                 <div class="input-group col-sm-6" style="margin: 5px 0;">
                    <span>MySpace</span>
                     <input name="myspace" id="myspace" placeholder="MySpace" class="form-control" type="text">
                 </div>
                 
                
            </div>
        </div>
    </div>

    <!-- CARROUSEL DE MARCAS -->
    <div class="form-group">
        <h2>
            Carrossel de Marcas
        </h2>
        <hr>
        <table class="table">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Imagem
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_1" name="mname_1" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_1" name="mfile_1" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_2" name="mname_2" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_2" name="mfile_2" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_3" name="mname_3" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_3" name="mfile_3" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_4" name="mname_4" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_4" name="mfile_4" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_5" name="mname_5" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_5" name="mfile_5" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_6" name="mname_6" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_6" name="mfile_6" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_7" name="mname_7" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_7" name="mfile_7" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_8" name="mname_8" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_8" name="mfile_8" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_9" name="mname_9" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_9" name="mfile_9" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_10" name="mname_10" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_10" name="mfile_10" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_11" name="mname_11" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_11" name="mfile_11" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_12" name="mname_12" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_12" name="mfile_12" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_13" name="mname_13" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_13" name="mfile_13" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_14" name="mname_14" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_14" name="mfile_14" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="mname_15" name="mname_15" class="input" />
                </td>
                <td class="file">
                    <input type="file" id="mfile_15" name="mfile_15" class="input" />
                    <a class="remove-img btn btn-danger btn-sm" style="margin-top: 5px;">Remover</a>
                </td>
            </tr>
        </table>
    </div> 
    
</fieldset>