<main class="site-main">

    {% if banner.home and not utils.is_mobile %}
    <div class="fullbanner hidden-xs">
        <div class="flexslider">
            <ul class="slides">
                {% for slide in banners.home.slides %}
                <li style="background-image: url({{ slide.image }});">
                    <a href="{{ slide.link }}" target="{{ slide.target }}"></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="showcase-featured">
                        {% set products = Products({
                            'limit': 12,
                            'order': 'rand',
                            'filter': 'featured'
                        }) %}

                        {% element 'showcase' { 
                            "products": products,
                            "showcaseTitle": 'Produtos em Destaque',
                            "carousel": "carousel-product",
                            "columns": 4
                        } %}
                    </div>
                    <hr class="hr-show">
                    <div class="showcase-other">
                        {% set products = Products({
                            'limit': 16,
                            'filter': 'available',
                            'order': 'rand'
                        }) %}

                        {% element 'showcase' { 
                            "products": products,
                            "columns": 4
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if settings.home_category_last %}
    {% set homecat = settings.home_category_last|split(',') %}
    <section class="background-1">
        <div class="container">
            <div class="row showcase-widget-1">
                {% for homecat in homecat %}
                    {% if loop.index <= 2 %}
                    <div class="col-md-6 col-xs-12">

                        {% set homecategory = Categories({ "id": homecat }) %}
                        <h3>{{ homecategory.name }}</h3>

                        {% set products = Products({
                            'limit': 1,
                            'order': 'rand',
                            'categories': homecat
                        }) %}

                        <div itemscope itemtype="http://schema.org/Product" class="product">
                            <a href="{{ products[0].link }}" data-tray-tst="vitrine_produto_link_imagem">

                                <div class="product-image">
                                    {% if products[0].images %}
                                        <img src="{{ products[0].images[0].full }}" alt="{{ products[0].name }}">
                                    {% else %}
                                        <img src="{{ asset('img/sem-imagem.jpg') }}" alt="Nenhuma imagem foi cadastrada" width="100">
                                    {% endif %}
                                </div>

                                <div class="product-info">
                                    <div class="showcase-description-small">{{ products[0].description_small }}</div>
                                    <div class="showcase-product-name" itemprop="name">{{ products[0].name }}</div>
                                    {% element 'snippets/price' {"product": products[0]} %}
                                </div>

                            </a>
                        </div>

                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    <section class="widget-instagram">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-xs-12 text-center">
                    <h4><span><i class="fa fa-instagram"></i> </span> no Instagram</h4>
                    <a href="{{ settings.instagram }}" target="_blank">Siga-nos</a>
                </div>
                <div class="col-lg-6 col-md-7 col-xs-12">
                    <ul>
                        <li>
                            <a href="{{ settings.instagram }}" target="_blank">
                                <img src="{{ asset('img/insta-1.jpg') }}" alt="">
                                <span><i class="fa fa-instagram"></i> </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ settings.instagram }}" target="_blank">
                                <img src="{{ asset('img/insta-2.jpg') }}" alt="">
                                <span><i class="fa fa-instagram"></i> </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</main>