<main class="site-main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <section id="product-container" class="produto-wrapper product-detail" itemscope itemtype="http://schema.org/Product">
                    <div class="row">

                        <div class="col-md-6 product-colum-left">
                            {% if utils.is_mobile %}
                                {% if product.images %}
                                <div class="product-gallery-mobile">
                                    <div class="single-image">
                                        <figure>
                                            <a rel="product_gallery" href="{{ product.images[0].full }}" class="fancybox-gallery"><img src="{{ product.images[0].full }}" alt="{{ product.name }}"></a>
                                        </figure>
                                    </div>
                                    <div class="carousel-gallery">
                                        {% for product_image in product.images %}
                                        <a rel="product_gallery" href="{{ product_image.full }}" class="fancybox-gallery" alt="{{ product.name }}" title="{{ product.name }}"><img src="{{ product_image.medium }}" alt="{{ product.name }}"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                            <div class="product-gallery">
                                {{ productHelper.gallery() }}
                            </div>
                            {% endif %}

                            <div class="product-share">
                                <ul>
                                    <li>
                                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ products.link }}&amp;src=sdkpreparse">Compartilhar</a></div>
                                    </li>
                                    <li>
                                        <div class="fb-like" data-href="{{ products.link }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                                    </li>   
                                </ul>
                            </div>

                        </div>
                        
                        <div class="col-md-6 product-colum-right">
                            <div class="product-info" itemscope itemtype="http://schema.org/Product">

                                <span id="span_erro_carrinho"></span>
                                <div id="loading-product-container">
                                    <img src='{{ tray.paths.system_image }}/big-loading.svg' />
                                </div>

                                <form method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">

                                    <div class="product-header">
                                        <ul>
                                            {% if product.free_shipping %}
                                            <li><span class="tag tag-shipping">Frete Grátis</span></li>{% endif %}
                                            {% if product.featured %}<li><span class="tag tag-featured">Destaque</span></li>{% endif %}
                                            {% if product.new %}<li><span class="tag tag-new">Lançamento</span></li>{% endif %}
                                        </ul>
                                    </div>

                                    <h1 class="product-title">{{ product.name }}</h1>

                                    <div class="product-subheader">
                                        <ul>
                                            {% set ranking = product.ranking %}
                                            {% if ranking.count > 0 %}
                                            <li>
                                                {% element 'product/rating' %}
                                            </li>
                                            {% endif %}
                                            {% if product.reference %}
                                            <li>Ref: {{ product.reference }} | </li>
                                            {% endif %}
                                            {% if product.model %}
                                            <li>Modelo: {{ product.model }} | </li>
                                            {% endif %}
                                            {% if product.stock and product.available %}
                                            <li>Em Estoque</li>
                                            {% endif %}
                                        </ul>

                                        {% if product.description_small %}
                                        <div class="product-description">{{ product.description_small }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="product-buy">
                                        <div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            {{ productHelper.pricing() }}
                                        </div>
                                        <hr>
                                        {% if product.available %}
                                            <div class="product-variants">
                                                {{ productHelper.variants() }}
                                            </div>
                                        {% endif %}
                                        {% if product.additional_information %}
                                        <div class="additional_info">
                                            {{ product.additional_information }}
                                        </div>
                                        {% endif %}
                                        <div data-app="product.quantity" id="quantidade" style="display: none;">
                                            <input id="quant" name="quant" class="text" type="text" value="1" maxlength="5" />
                                        </div>
                                    </div>

                                    <hr>

                                    {% if product.available %}
                                        <div class="row">
                                            <div class="col-md-7 col-xs-12">
                                                <div class="frete-calcular-produto">
                                                    <h4>Calcular Frete</h4>
                                                    {{ productHelper.shipping() }}
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-xs-12">
                                                <div class="product-buy-button">
                                                    {% element 'snippets/product_buy_form' %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="shipping-result" style="display: none;">
                                            <span class="btn-close">Fechar</span>
                                            <div></div>
                                        </div>

                                    {% endif %}

                                    {{ productHelper.wishlist() }}

                                </form>

                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    {% if productHelper.bundle() %}
    <div class="product-compre-junto">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    
                    <section>
                        {{ productHelper.bundle() }}
                    </section>
                    
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="product-inner-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <section id="ProdBlock" class="product-tabs">
                        <a name="formaPagto"></a>
                        <div id="ProdAbas" class="abasProduto tab-panel">
                            <ul class="clearfix">
                                {% for key, tab in productTabs %}
                                  {% if tab.container_id and tab.container_id != '#coments' %}
                                  <li id="{{ tab.id }}" {% if key=='description' %}class="aberta" {% endif %}>
                                    <a href="#" data-tab-container-id="{{ tab.container_id }}" data-tab-url="{{ tab.url }}">{{ tab.description }}</a>
                                  </li>
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="descricao" class="prodBox">
                            <div class="board">
                                <div class="board_htm description">
                                    {{ product.description ? product.description : product.description_small }}
                                </div>
                            </div>
                        </div>

                        <div id="itensInclusos" class="prodBox">
                            <div class="board">
                                {{ product.included_items }}
                            </div>
                        </div>

                        <div id="coments" class="prodBox">
                            <div class="board">
                                {% element 'product/comments' %}
                            </div>
                        </div>

                        <div id="caracteristicas" class="prodBox">
                            <div class='board'>
                                {% element 'product/properties' %}
                            </div>
                        </div>

                        {{ productTabs.custom.content }}
                        {{ productTabs.downloads.content }}

                        <div id="garantia" class="prodBox">
                            <img class="loader" src="{{ tray.paths.system_image }}/big-loading.svg"  />
                        </div>
                        <div data-app="product.payment-methods" id="formasPagto" class="prodBox"  ></div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <section class="widget-product-comments">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="product-comments">
                        <h3>Avaliação do produto</h3>
                        {% element 'product/comments' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if product.related_products %}
    <div class="productRelated">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% element 'showcase' {
                        "showcaseTitle": "Você também pode gostar",
                        "products": product.related_products,
                        "columns": '4'
                    } %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</main>

<script type="text/javascript">
    (function($){
        $(document).ready( function(){
            $('#modal').css({'top': '-99999999px'});

            function waitForElementToDisplay(selector, time) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop.fade.in').remove();
                $('#modal').removeClass('in');
                if(document.querySelector(selector)!=null) {
                    $('.shipping-result > div').html('<table>' + $('.page-simula-frete .tablePage').eq(1).html() + '</table>');
                    $('.shipping-result').slideDown();
                    $('#loader-ajax').fadeOut();
                    return;
                }
                else {
                    setTimeout(function() {
                        waitForElementToDisplay(selector, time);
                    }, time);
                }
            }

            $('.shipping-result .btn-close').click(function() {
                $('.shipping-result').slideUp();
                return false;
            });

            $('.botao-simular-frete, #shippingSimulatorButton').click(function() {
                var $this = $(this);
                var url = $this.attr("data-url");

                var variant = ( $('#selectedVariant').length ) ? $('#selectedVariant').val() : 0;
                var cep1 = $('#cep1').val();
                var cep2 = $('#cep2').val();
                var quant = $('#quant').val();

                if( variant === undefined || variant === null || variant === '' ){
                    alert('Selecione uma variação para calcular o frete');
                    return false;
                }
                if( cep1 === undefined || cep1 === null || cep1 === '' || cep1.length < 5 || cep2 === undefined || cep2 === null || cep2 === '' || cep2.length < 3 ){
                    alert('Preencha o campo CEP para calcular o frete');
                    return false;
                }

                $('#loader-ajax').fadeIn();

                url = url.replace('%s',cep1)
                            .replace('%s',cep2)
                            .replace('%s',quant)
                            .replace('%s',variant);

                $.ajax({
                    method      : 'GET',
                    url         : url,
                    beforeSend : function(){
                        if( $('#loader-ajax').length ){
                            $('#loader-ajax').fadeIn();
                        }
                    }
                }).done(function( response ) {
                    var $response = $(response);
                    $('.shipping-result > div').html('<table>' + $response.find('.tablePage').eq(1).html() + '</table>');
                    $('.shipping-result').slideDown();
                    if( $('#loader-ajax').length ){
                        $('#loader-ajax').fadeOut();
                    }
                }).fail(function( ){
                    console.log('erro');
                    if( $('#loader-ajax').length ){
                        $('#loader-ajax').fadeOut();
                    }
                });

                return false;
            });
        });
    })(jQuery);
</script>