<main class="site-main">
    <div class="catalog-header">

        {% if search.word %}
            <h2>Exibindo resultados para: {{ search.word }}</h2>
        {% else %}
            <h2>Exibindo todos os produtos</h2>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
        
                    {% if banner.title %}
                        <div class="banner banner-title">
                            {{ banner.title }}
                        </div>
                    {% endif %}
                    
                    {% if products|length > 0 %}
                    <div class="row">
                        <div class="col-md-4 col-xs-12 search-counter">
                            {{ paginate.counter('Resultado {:count} produto(s) em {:pages} p&aacute;gina(s)') }}
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="catalog-paginate">
                                {% element 'snippets/paginate' %}
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="system-filter">
                                {% element 'snippets/filter' {
                                    'brands': search.brands
                                } %}
                            </div>
                        </div>
                    </div>
                    {% endif %} 

                </div>
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                {% if products|length > 0 %}

                    <div class="catalog-content">
                        {% element 'showcase' {
                            "products": products,
                            "columns": 4
                        } %}
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-12 search-counter">
                            {{ paginate.counter('Resultado {:count} produto(s) em {:pages} p&aacute;gina(s)') }}
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="catalog-paginate">
                                {% element 'snippets/paginate' %}
                            </div>
                        </div>
                    </div>

                {% else %}
                    
                    <div class="catalog-empty">
                        <img src="{{ asset('img/catalog-empty.svg') }}" alt="Sem produtos" width="150" height="150">
                        <p>{{ Translation('nenhum_resultado') }}</p>
                    </div>

                {% endif %}

                {% if banner.bottom %}
                    <div class="banner banner-bottom">
                        {{ banner.bottom }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</main>