/* ---------------------------------------------------------------------- */
/*	Basic Class
/* ---------------------------------------------------------------------- */
@include sprites($spritesheet-sprites);
.ico{
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite.png?v=#{$ver});
}

.fa{
	vertical-align: middle;
}

.relative{position: relative;}

// align
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.trespix{
    text-align: center;
    a{
        color: transparent;
        cursor: default;

        &:hover{
            text-decoration: none;
            color: transparent;
        }
    }
}

@for $i from 1 through 10 {
  .mb-#{$i} { margin-bottom: 10px * $i; }
  .mt-#{$i} { margin-top: 10px * $i; }
}

// default transition
.transition{
    @include prefix('transition', '300ms all ease 0s');
}

.container{
    @media (min-width: 768px) and (max-width: 991px){
        width: 95%;
    }
}

.content-split{
    border-color: #ccc;
    margin-bottom: 30px;
    margin-top: 0;
}

.page-content{
    z-index: 5;
    
    .container{
        padding: 0;
        width: 100%;
    }   
}

.site-main {
    position: relative;
    // z-index: 10;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered{
    display: inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

// Adjust for mobile
.suggestion{
    @media screen and (max-width: $sm){
        left: 0;
        margin: 0 -48px;
        min-width: 100%;
        right: 0;
        top: 60px;
    }
}

#miniad{
    width: auto;
}

.hr-show{
    margin-bottom: 40px;
}