/* ---------------------------------------------------------------------- */
/*  Mixin
/* ---------------------------------------------------------------------- */
// vendor prefix
@mixin prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
       -moz-#{$name}: #{$argument};
        -ms-#{$name}: #{$argument};
         -o-#{$name}: #{$argument};
            #{$name}: #{$argument};
}

@mixin placeholder($color: $primary-color, $font-size: 14px){
 color: $color;
 font-family: $font;
 font-size: $font-size;
 -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
 -webkit-text-size-adjust: 100%;
}

@mixin placeholder2($color: $primary-color, $font-size: 14px, $input: input){
 #{$input}::-webkit-input-placeholder {
   @include placeholder($color, $font-size);
 }

 #{$input}:-moz-placeholder {
   @include placeholder($color, $font-size);
 }

 #{$input}::-moz-placeholder {
   @include placeholder($color, $font-size);
 }

 #{$input}:-ms-input-placeholder {  
   @include placeholder($color, $font-size);
 }
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@mixin rem2($values) {
  @include rem(font-size, $values);
}

@mixin typo($size:12px, $w:400, $family:$font, $lh:1) {
    @include rem(font-size, $size);
    font-family: $family;
    font-weight: $w;
    line-height: $lh; 
}

 @mixin transition($element: all, $time: 0.2s, $ease: ease-out) {
  -webkit-transition: $element $time $ease;
  -moz-transition: $element $time $ease;
  -o-transition: $element $time $ease;
  -ms-transition: $element $time $ease;
  transition: $element $time $ease;
 }

 @mixin transform($element){
  -webkit-transform: $element;
  -moz-transform: $element;
  -o-transform: $element;
  transform: $element;
 }

 @mixin box-shadow($element){
  -webkit-box-shadow: $element;
  -o-box-shadow: $element;
  -moz-box-shadow: $element;
  box-shadow: $element;
 }

 @mixin border-box($border: border-box){
  -webkit-box-sizing: $border;
  -moz-box-sizing: $border;
  box-sizing: $border;
 }

 @mixin border-radius($border-radius: 10px){
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
 }

 @mixin background-size($element){
  -webkit-background-size: $element;
  -moz-background-size: $element;
  -o-background-size: $element;
  background-size: $element;
 }

 @mixin columns($column: 3, $gap: 15px){
  -webkit-column-count: $column;
  -moz-column-count: $column;
  column-count: $column;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
 }

 @mixin button($size: 13px, $weight: 600, $bg: #fff, $pad: 7px 15px, $radius: 5px, $bg-hover: $second-color){
  display: inline-block;
  font-size: $size;
  font-weight: $weight;
  background: $bg;
  padding: $pad;
  outline: none;
  @include border-radius($radius);
  @include transition;

  &:hover{
    background: $bg-hover;
  }
 }

 @mixin opacity($opacity: 0.5) {
   -moz-opacity: $opacity;
   -khtml-opacity: $opacity;
   -webkit-opacity: $opacity;
   opacity: $opacity;
   $opperc: $opacity * 100;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity="+$opperc+")";
   filter: "alpha(opacity="+$opperc+")";
 }

 @mixin clearfix{
   content:'';
   display: block;
   clear: both;
 }

 @mixin clearfix2{
  &:after{
    content:'';
    display: block;
    clear: both;
  }
 }

 @mixin filter($filter){
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
 }

 /* ---------------------------------------------------------------------- */
 /* 
 /* Triangle helper mixin
 /* @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
 /* @param {Color} $color [currentcolor] - Triangle color 
 /* @param {Length} $size [1em] - Triangle size
 /* 
 /* ---------------------------------------------------------------------- */
 @mixin triangle($direction, $color: $primary-color, $size1: 20px, $size2: 20px, $size3: 20px) {
   @if not index(top right bottom left, $direction) {
     @error "Direction must be either `top`, `right`, `bottom` or `left`.";
   }

   width: 0;
   height: 0;
   content: '';
   z-index: 999;
   display: inline-block;

   $initial-border: $size1 solid $color;

   @if $direction == left{
     border-right: $initial-border;
   } @else if $direction == right{
     border-left: $initial-border;
   } @else if $direction == top{
     border-bottom: $initial-border;
   } @else if $direction == bottom{
     border-top: $initial-border;
   }
   
   $perpendicular-borders1: $size2 solid transparent;
   $perpendicular-borders2: $size3 solid transparent;
   
   @if $direction == top or $direction == bottom {
     border-left:   $perpendicular-borders1;
     border-right:  $perpendicular-borders2;
   } @else if $direction == right or $direction == left {
     border-bottom: $perpendicular-borders1;
     border-top:    $perpendicular-borders2;
   }
 }