/* ---------------------------------------------------------------------- */
/*	Buttons
/* ---------------------------------------------------------------------- */
html{
	.btn,
	.botao-commerce{
		font-style: normal;
		vertical-align: middle;
		margin: $button-margin;
		height: $button-height;
		line-height: $button-line-height;
		padding: $button-padding;
		background: $button-bg;
		color: $button-color;
		text-transform: $button-upper;
		font-weight: $button-bold;
		@include rem2($button-size);
		@include border-radius($button-radius);
		@include transition;

		&:hover{
			text-decoration: none;
			background: $button-hover-bg;
			color: $button-hover-color;
			@include border-radius($button-hover-radius);
		}

		@media screen and (max-width: $small){
			color: $button-color !important;
			text-align: center;
		}
	}

	.botao-commerce.botao-prosseguir-compra{
		display: block;
		width: 100%;
		line-height: $button-prosseguir-line-height;
		height: $button-prosseguir-height;
		padding: $button-prosseguir-padding;
		margin: $button-prosseguir-margin;
		background: $button-prosseguir-bg;
		color: $button-prosseguir-color;
		font-weight: $button-prosseguir-bold;
		@include rem2($button-prosseguir-size);
		text-transform: $button-prosseguir-upper;
		@include border-radius($button-prosseguir-radius);

		a, span{
			color: $button-prosseguir-color !important;

			&:hover{
				text-decoration: none;
			}
		}

		&:hover{
			background: $button-prosseguir-hover-bg;
			color: $button-prosseguir-hover-color;
			@include border-radius($button-prosseguir-hover-radius);
		}

		@media screen and (max-width: $small){
			color: $button-prosseguir-color !important;
		}
	}

	.botao-commerce.botao-continuar-comprando{
		display: block;
		width: 100%;
		line-height: $button-continuar-line-height;
		height: $button-continuar-height;
		padding: $button-continuar-padding;
		margin: $button-continuar-margin;
		background: $button-continuar-bg;
		color: $button-continuar-color;
		font-weight: $button-continuar-bold;
		@include rem2($button-continuar-size);
		text-transform: $button-continuar-upper;
		@include border-radius($button-continuar-radius);

		&:hover{
			background: $button-continuar-hover-bg;
			color: $button-continuar-hover-color;
			@include border-radius($button-continuar-hover-radius);
		}

		@media screen and (max-width: $small){
			color: $button-continuar-color !important;
		}
	}

	.botao-commerce.botao-cupom-desconto,
	.botao-commerce.botao-simular-frete{
		display: inline-block;
		line-height: $button-fc-line-height;
		height: $button-fc-height;
		padding: $button-fc-padding;
		margin: $button-fc-margin;
		background: $button-fc-bg;
		color: $button-fc-color;
		font-weight: $button-fc-bold;
		@include rem2($button-fc-size);
		text-transform: $button-fc-upper;
		@include border-radius($button-fc-radius);

		&:hover{
			background: $button-fc-hover-bg;
			color: $button-fc-hover-color;
			@include border-radius($button-fc-hover-radius);
		}

		@media screen and (max-width: $small){
			width: 100%;
			margin: 10px 0;
			color: $button-fc-color !important;
		}
	}

	.botao-commerce.botao-efetuar-login,
	.botao-commerce.botao-novo-cadastro{
		display: block;
		width: 100%;
		line-height: $button-login-line-height;
		height: $button-login-height;
		padding: $button-login-padding;
		margin: $button-login-margin;
		background: $button-login-bg;
		color: $button-login-color;
		font-weight: $button-login-bold;
		@include rem2($button-login-size);
		text-transform: $button-login-upper;
		@include border-radius($button-login-radius);

		&:hover{
			background: $button-login-hover-bg;
			color: $button-login-hover-color;
			@include border-radius($button-login-hover-radius);
		}

		@media screen and (max-width: $small){
			color: $button-login-color !important;
		}
	}

	#shippingSimulatorButton.botao-simular-frete{
		line-height: $button-simular-line-height;
		height: $button-simular-height;
		padding: $button-simular-padding;
		margin: $button-simular-margin;
		background: $button-simular-bg;
		color: $button-simular-color;
		font-weight: $button-simular-bold;
		@include rem2($button-simular-size);
		text-transform: $button-simular-upper;
		@include border-radius($button-simular-radius);

		&:hover{
			background: $button-simular-hover-bg;
			color: $button-simular-hover-color;
			@include border-radius($button-simular-hover-radius);
		}

		@media screen and (max-width: $medium){
			margin-left: 8px;
			margin-right: 0;
			padding: 0 5px;
		}

		@media screen and (max-width: $small){
			margin: 10px 0 0 0;
			color: $button-simular-color !important;
		}
	}

	.botao-commerce.botao-comprar,
	.remove-bg .botao-comprar,
	#button-buy{
		border: 0;
		width: 100%;
		line-height: $button-comprar-line-height;
		height: $button-comprar-height;
		padding: $button-comprar-padding;
		margin: $button-comprar-margin;
		background: $button-comprar-bg;
		color: $button-comprar-color;
		font-weight: $button-comprar-bold;
		@include rem2($button-comprar-size);
		text-transform: $button-comprar-upper;
		@include border-radius($button-comprar-radius);
		@include transition;

		&:hover{
			background: $button-comprar-hover-bg;
			color: $button-comprar-hover-color;
			@include border-radius($button-comprar-hover-radius);
		}

		@media screen and (max-width: $small){
			color: $button-comprar-color !important;
		}
	}

	#comentario_cliente a{
		display: inline-block;
		line-height: $button-comentario-line-height;
		height: $button-comentario-height;
		padding: $button-comentario-padding;
		margin: $button-comentario-margin;
		background: $button-comentario-bg;
		color: $button-comentario-color;
		font-weight: $button-comentario-bold;
		@include rem2($button-comentario-size);
		text-transform: $button-comentario-upper;
		@include border-radius($button-comentario-radius);

		&:hover{
			background: $button-comentario-hover-bg;
			color: $button-comentario-hover-color;
			text-decoration: none;
			@include border-radius($button-comentario-hover-radius);
		}

		@media screen and (max-width: $small){
			color: $button-comentario-color !important;
		}
	}
}