/*
Flaticon icon font: Flaticon
Creation date: 07/03/2017 15:19
*/

@font-face {
  font-family: "Flaticon";
  src: url(".../fonts/fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Flaticon.woff") format("woff"),
  url("../fonts/Flaticon.ttf") format("truetype"),
  url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fi-arrow-left:before { content: "\f100"; }
.fi-arrow-right:before { content: "\f101"; }
.fi-arrow-down:before { content: "\f102"; }
.fi-phone:before { content: "\f103"; }
.fi-add-to-cart:before { content: "\f104"; }
.fi-envelope:before { content: "\f105"; }
.fi-business:before { content: "\f106"; }
.fi-people:before { content: "\f107"; }
.fi-package:before { content: "\f108"; }
.fi-shopping-cart:before { content: "\f109"; }
.fi-truck:before { content: "\f10a"; }

$font-fi-arrow-left: "\f100";
$font-fi-arrow-right: "\f101";
$font-fi-arrow-down: "\f102";
$font-fi-phone: "\f103";
$font-fi-add-to-cart: "\f104";
$font-fi-envelope: "\f105";
$font-fi-business: "\f106";
$font-fi-people: "\f107";
$font-fi-package: "\f108";
$font-fi-shopping-cart: "\f109";
$font-fi-truck: "\f10a";