/* ---------------------------------------------------------------------- */
/*  Forms
/* ---------------------------------------------------------------------- */
@include placeholder;

fieldset{
    border: 0;
    padding: 15px;
}

.input, .textarea, .select{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    margin-bottom: 20px;
    color: $font-color;
    @include rem2(16px);
    font-size: $font-size;
    font-weight: normal;
    background: #fff;
    border: 1px solid $border-color;
    @include border-box;
}

.input, .textarea{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select{
    padding: 0;
    line-height: 35px;
    height: 35px;
    @include border-radius(5px);
}

.textarea{
    height: 120px;
}