/* ---------------------------------------------------------------------- */
/*	Tags
/* ---------------------------------------------------------------------- */
.tag{
	display: inline-block;
	padding: $tag-padding;
	text-transform: $tag-upper;
	font-weight: $tag-bold;
	font-size: $tag-size;
	color: $tag-color;
	@include border-radius($tag-radius);

	&.tag-shipping{
		color: $color-shipping;
		background: $bg-shipping;
	}

	&.tag-new{
		color: $color-new;
		background: $bg-new;
	}

	&.tag-featured{
		color: $color-featured;
		background: $bg-featured;
	}
}

.tag-discount{
	text-align: center;
	width: $tag-discount-width;
	height: $tag-discount-height;
	background: $tag-discount-bg;
	color: $tag-discount-color;
	font-size: $tag-discount-size;
	font-weight: $tag-discount-size-wei;
	@include border-radius($tag-discount-radius);
	@include box-shadow($tag-discount-shadow);

	small{
		display: block;
		text-align: center;
		font-size: $tag-discount-off-size;
		font-weight: $tag-discount-off-wei;
	}
}